{% extends 'frontend.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title  'Formulario de acceso de empleados.' %}
{% block description  'Formulario de acceso de empleados a ExpertosIT, la mejor academia de Madrid.' %}
{% block keywords 'formulario de acceso, acceso empleados' %}
{% block ogtitle 'Formulario de acceso de empleados.' %}
{% block ogdescription 'Formulario de acceso de empleados a ExpertosIT, la mejor academia de Madrid.' %}

{% block stylesheets %}
    {{ parent() }}

    <!-- Bootstrap Switch CSS -->
    <link rel="stylesheet" href="{{ asset('css/components/bs-switches.css') }}" type="text/css" />

    <!-- Radio Checkbox Plugin -->
    <link rel="stylesheet" href="{{ asset('css/components/radio-checkbox.css') }}" type="text/css" />
{% endblock %}


{% block content %}
    <!-- Content
		============================================= -->
    <section id="content">
        <div class="content-wrap nopadding">
            <div class="section nopadding nomargin background-form-login"></div>
            <div class="section nobg full-screen nopadding nomargin">
                <div class="container-fluid vertical-middle divcenter clearfix">
                    <div class="card divcenter noradius noborder card-form-login">
                        <div class="card-body">
                            <form action="{{ path("fos_user_security_check") }}" method="post" id="login-form">
                                {% if error %}
                                    <div class="alert alert-danger">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        <i class="icon-remove-sign"></i><strong>Credenciales incorrectas</strong>, vuelva a intentarlo.
                                    </div>
                                    {#<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
                                {% endif %}

                                {% if csrf_token %}
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                {% endif %}

                                <div class="col_full">
                                    <label for="username">Empleado<em>*</em></label>
                                    <input class="form-control not-dark" type="text" id="username" name="_username" required="required"/>
                                </div>

                                <div class="col_full">
                                    <label for="password">Contraseña<em>*</em></label>
                                    <input class="form-control not-dark" type="password" id="password" name="_password" required="required"/>
                                </div>

                                <div class="col_full">
                                    <div class="col_one_third">
                                        <span class="switch-login-form-label">Recuérdame</span>
                                    </div>
                                    <div class="col_two_third col_last">
                                        <div class="switch switch-login-form">
                                            <input id="remember_me" class="switch-toggle switch-flat-mini switch-toggle-flat" type="checkbox" name="_remember_me" value="on" data-com.bitwarden.browser.user-edited="yes" checked>
                                            <label for="remember_me"></label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col_full nobottommargin">
                                    <button type="submit" class="button button-3d nomargin" id="_submit" name="_submit">Entrar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- #content end -->
{% endblock %}