#header.full-header #logo {
    padding-right: 30px;
    margin-right: 30px;
    border-right: none
}

#header.full-header #primary-menu>ul {
    float: left;
    padding-right: 15px;
    margin-right: 15px;
    border-right: none
}

.color-dark {
    color: #0b0b0b
}

.color-a-index {
    padding: 3px 10px;
    color: #222;
    background: #4ecdc4;
    border-radius: 3px
}

#header.full-header.dark #header-wrap:not(.not-dark),
.dark #header.full-header #header-wrap:not(.not-dark) {
    border-bottom-color: rgba(78, 205, 196, .9)
}

.dark #header-wrap:not(.not-dark) #primary-menu>.container>ul>li>a,
.dark #header-wrap:not(.not-dark) #primary-menu>ul>li>a,
.dark #header-wrap:not(.not-dark) #side-panel-trigger a,
.dark #header-wrap:not(.not-dark) #side-panel-trigger a:hover,
.dark #header-wrap:not(.not-dark) #top-account a,
.dark #header-wrap:not(.not-dark) #top-account a:hover,
.dark #header-wrap:not(.not-dark) #top-cart a,
.dark #header-wrap:not(.not-dark) #top-cart a:hover,
.dark #header-wrap:not(.not-dark) #top-search a,
.dark #header-wrap:not(.not-dark) #top-search a:hover,
.dark #header-wrap:not(.not-dark) #top-search form input,
.dark #top-cart .top-cart-item-desc a,
.dark.overlay-menu #header-wrap:not(.not-dark) #primary-menu>#overlay-menu-close,
.dark.overlay-menu #header-wrap:not(.not-dark) #primary-menu>ul>li>a,
.overlay-menu #primary-menu.dark>#overlay-menu-close,
.overlay-menu #primary-menu.dark>ul>li>a,
body.top-search-open .dark #header-wrap:not(.not-dark) #top-search a {
    color: #4ECDC4;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1)
}

.revo-slider-emphasis-text {
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -1px;
    font-family: 'Raleway', sans-serif;
    padding: 15px 20px;
    border-top: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
}

.revo-slider-desc-text {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    width: 650px;
    text-align: center;
    line-height: 1.5;
}

.revo-slider-caps-text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3px;
    font-family: 'Raleway', sans-serif;
}
.tp-video-play-button { display: none !important; }

.tp-caption { white-space: nowrap; }

.sticky-side-element {
    position: fixed;
    top: 50%;
    margin-top: -24px;
    left: auto;
    right: -31px;
    height: 48px;
    line-height: 48px;
    padding: 0 15px;
    background-color: #EEE;
    color: #222;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    z-index: 100;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.tp-kbimg {
    max-width: none!important;
}

#whatsappBtn {
    display: none;
}


.col-custom {
    margin-bottom: 21px;
    padding: 20px
}

.bgicon-light {
    position: absolute;
    bottom: -60px;
    right: -50px;
    font-size: 210px;
    color: rgba(0, 0, 0, .1)
}

.color-turquoise {
    background-color: #4ECDC4
}

.color-green {
    background-color: #C7F464
}

.color-grey {
    background-color: #556270
}

.color-soft-grey {
    background-color: #F5F5F5
}

.color-pink {
    background-color: #FF6B6B
}

.color-garnet {
    background-color: #C44D58
}

.color-white {
    background-color: #fff
}

.header-custom {
    background: url(../images/pages/index/taller-del-aula-2.jpg);
    background-size: cover
}

.course-item {
    margin-bottom: 20px
}

.course-item a {
    display: block;
    overflow: hidden;
    position: relative
}

.course-item .course-desc {
    left: 35px;
    position: absolute;
    top: 220px
}

.course-item .course-desc h3 {
    color: #fff;
    margin: 0
}

.course-item .course-desc span {
    background: #fff;
    color: #000;
    padding: 5px 10px
}

.course-item .course-overlay {
    background-color: #F9F9F9;
    float: none;
    height: 100%;
    left: auto;
    padding: 30px;
    position: absolute;
    right: -35%;
    top: 0;
    width: 35%;
    -webkit-transition: right .3s ease-in-out;
    -o-transition: right .3s ease-in-out;
    transition: right .3s ease-in-out
}

.course-item .course-overlay h3 {
    font-size: 20px;
    margin: 0
}

.course-item .course-overlay span {
    color: #666
}

.course-item .course-overlay p {
    margin-top: 10px
}

.course-item a:hover .course-overlay {
    right: 0
}

.course-item .background-overlay {
    background: #000;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out
}

.course-item a:hover .background-overlay {
    opacity: .75
}

.course-item a img {
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.course-item a:hover img {
    -webkit-transform: translateX(-60px);
    -moz-transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    -o-transform: translateX(-60px);
    transform: translateX(-60px)
}

.footer-big-contacts {
    color: #333;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px
}

.footer-big-contacts span {
    display: block;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    color: #888;
    letter-spacing: 2px
}

.dark .footer-big-contacts {
    color: rgba(255, 255, 255, .8)
}

.dark #copyrights a {
    color: rgba(255, 255, 255, .25);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .1)
}

.portfolio-1.portfolio-custom .portfolio-item:hover .portfolio-image img.index {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5)
}

.portfolio-1.portfolio-custom .portfolio-overlay a.index {
    left: 50%
}

.portfolio-title h3 {
    background: #333;
    color: #fff;
    font-size: 14px;
    padding: 14px
}

.portfolio-title a {
    color: #fff
}

.pf-index {
    margin-bottom: 10px!important
}

.font-size-12 {
    font-size: 12px!important
}

.font-size-13 {
    font-size: 13px!important
}

.font-size-14 {
    font-size: 14px!important
}

.font-size-18 {
    font-size: 18px!important;
}

.font-size-20 {
    font-size: 20px!important;
}

.width-500px {
    width: 500px!important;
}

.width-24px {
    width: 24px;
}

.width-50 {
    width: 50%!important;
}

.width-35 {
    width: 35%!important;
}

.width-30 {
    width: 30%!important;
}

.padding-30-60 {
    padding: 30px 60px;
}

.height-index-youtube {
    height: 286px;
}

.max-height-cursos {
    max-height: 348px!important;
}

.no-max-width {
    max-width: none!important;
}

.border-images-curso {
    border: 1px solid #518480;
}

.background-curso-header {
    background-image: url(/images/pages/cursos/iphone-7-esquematico.jpg)!important;
}

.background-curso-informatica {
    background-image: url(/images/pages/cursos/teclado-portatil.jpg)!important;
}

.background-curso-symfony {
    background-image: url(/images/pages/cursos/php-html-code.jpg)!important;
}

.background-curso-color {
    background-color: #f0f0f0;
}

.background-curso-degradado {
    background: #fff;
    background: -moz-linear-gradient(top, #fff 0, #99ccc7 50%, #4ecdc4 100%);
    background: -webkit-linear-gradient(top, #fff 0, #99ccc7 50%, #4ecdc4 100%);
    background: linear-gradient(top, #fff 0, #99ccc7 50%, #4ecdc4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#4ecdc4', GradientType=0)
}

.background-form-login {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url('/images/pages/index/taller-del-aula-2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-calendar {
    padding: 60px 0;
    background-image: url('/images/pages/calendar/taller-interior-01.jpg');
    height: auto;
}

.border-curso-top-color {
    border-top: 8px solid #f0f0f0
}

.border-curso-bottom-color {
    border-bottom: 8px solid #f0f0f0
}

.border-curso-left-color {
    border-left: 30px solid #f0f0f0
}

.border-curso-top {
    border-top: 8px solid #fff
}

.border-curso-bottom {
    border-bottom: 8px solid #fff
}

.border-curso-left {
    border-left: 30px solid #fff
}

.course-height {
    height: 557px!important
}

.course-gift p {
    white-space: normal;
    margin: 0;
    height: auto;
    line-height: 1.6;
    padding: 37px 0;
    font-size: 33px;
    font-weight: 300;
    text-transform: none;
    border-radius: 0;
    text-align: center
}

.course-gift img {
    margin-left: auto;
    margin-right: auto;
    display: block
}

.button-color-custom:disabled,
.button-color-custom:disabled:hover(not:enabled) {
    background-color: #CCC!important
}

.button-close {
    right: 0;
    color: #444;
    top: 0
}

.text-indent-20 {
    text-indent: 20px!important
}

.text-indent-25 {
    text-indent: 25px!important
}

.text-bg-xl {
    color: #333!important;
    padding: 5px;
    border-radius: 5px;
    font-size: 27px;
    background: #4ecdc4
}

.bottommargin-ssm {
    margin-bottom: 15px!important
}

.card-form-login {
    max-width: 400px;
    background-color: rgba(255,255,255,0.93);
}

switch-login-form {
    margin-top: 2px;
}

.switch-login-form-label {
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #555;
}

.nobullet li { list-style: none }

/* Phones (portrait screen, less than 576px) */
@media (max-width:575.98px) {
    .bottommargin-mb {
        margin-bottom: 50px!important
    }
    .course-gift p {
        font-size: 25px
    }
    .background-curso-software {
        background-image: url(/images/pages/cursos/ios-android-mb.jpg)!important
    }
    .course-height {
        height: 557px!important
    }
    .max-height-cursos {
        max-height: 700px!important
    }

    .margin-aventaja {
        margin: -70px 0 0 -10px!important;
    }

    #whatsappBtn {
        cursor: pointer;
        display: block;
        height: 40px;
        position: fixed;
        right: 20px;
        width: 40px;
        z-index: 299;
    }

    #whatsappBtn.top {
        top: 30px;
    }

    #whatsappBtn.bottom {
        bottom: 30px;
    }

    .border-curso-top,
    .border-curso-top-color {
        border-top: none
    }
    .border-curso-bottom,
    .border-curso-bottom-color {
        border-bottom: none
    }
    .border-curso-left,
    .border-curso-left-color {
        border-left: none
    }
    .width-500px {
        width: 280px!important
    }
    .width-24px {
        width: 12px
    }
    .font-sm-mobile {
        font-size: 12px!important
    }
    .padding-30-60 {
        padding: 15px 30px
    }
    .background-index-images {
        background-image: url(/images/pages/index/logos-marcas-smartphone-movil.png);
        background-repeat: repeat-y;
        background-position: center;
        height: 100%;
        background-size: contain
    }
    .font-size-10-mobile {
        font-size: 10px!important
    }
    .font-size-11-mobile {
        font-size: 11px!important
    }
    .font-size-12-mobile {
        font-size: 12px!important
    }
    .text-bg-xl {
        font-size: 14px!important
    }
    .max-height-cursos {
        max-height: 700px!important
    }
    .h1-index-custom {
        margin-top: 25px;
        font-size: 20px!important
    }
    .content-wrap {
        padding: 30px 0
    }
    .portfolio-1.portfolio-custom {
        margin: 0 0 30px!important
    }
    .portfolio-title {
        margin: -20px 0 0
    }
    .course-item .course-desc {
        top: 85px;
        left: 15px
    }
}

/* Mobile (landscape Screen = 576px to 767.98px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .margin-aventaja {
        margin: -225px 0 0 200px!important;
    }

    #whatsappBtn {
        cursor: pointer;
        display: block;
        height: 40px;
        position: fixed;
        right: 20px;
        width: 40px;
        z-index: 299;
    }

    #whatsappBtn.top {
        top: 30px;
    }

    #whatsappBtn.bottom {
        bottom: 30px;
    }
}

/* Tablets (portrait Screen = 768px to 991.98px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .background-index-images {
        background-image: url(/images/pages/index/logos-marcas-smartphone-movil.png);
        background-repeat: repeat-y;
        background-position: center;
        background-size: contain
    }
    
    .widget-custom {
        width: 100%!important
    }

    .margin-aventaja {
        margin: -115px 0 0 0!important;
    }

    #whatsappBtn {
        cursor: pointer;
        display: block;
        height: 40px;
        position: fixed;
        right: 20px;
        width: 40px;
        z-index: 299;
    }

    #whatsappBtn.top {
        top: 30px;
    }

    #whatsappBtn.bottom {
        bottom: 30px;
    }
}

/* Tablets (landscape Screen = 768px to 1024px) */
@media (min-width:992px) and (max-width:1199.98px) {
    .background-index-images {
        background-image: url(/images/pages/index/logos-marcas-smartphone-movil.png);
        background-repeat: repeat-y;
        background-position: center;
        background-size: contain
    }

    .margin-aventaja {
        margin: -210px 0 0 -160px!important;
    }

    #whatsappBtn {
        cursor: pointer;
        display: block;
        height: 40px;
        position: fixed;
        right: 20px;
        width: 40px;
        z-index: 299;
    }

    #whatsappBtn.top {
        top: 10px;
    }

    #whatsappBtn.bottom {
        bottom: 30px;
    }
}