/***** Glyphs Icon by WebHostingHub *****/
@font-face {
    font-family: 'WebHostingHub-Glyphs';
    src: url('fonts/webhostinghub-glyphs.eot');
    src: url('fonts/webhostinghub-glyphs.eot?#iefix') format('embedded-opentype'),
    url('fonts/webhostinghub-glyphs.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    -moz-font-feature-settings: "calt=0,liga=0";
}

[class^="icon-ct-"], [class*=" icon-ct-"] {font-family:'WebHostingHub-Glyphs';background:none;width:auto;height:auto;font-style:normal;}
.icon-ct-cpu-processor:before{content:'\f002'}
.icon-ct-batterycharged:before{content:'\f0f4'}
.icon-ct-resistor:before{content:'\f3eb'}
.icon-ct-bandwidth:before{content:'\f006'}
.icon-ct-dedicatedserver:before{content:'\f00e'}
.icon-ct-iphone:before{content:'\f0e6'}

