/*! Invoice Templates @author: Invoicebus @email: info@invoicebus.com @web: https://invoicebus.com @version: 1.0.0 @updated: 2015-03-27 14:03:24 @license: Invoicebus */
/* Reset */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700&subset=cyrillic,cyrillic-ext,latin,greek-ext,greek,latin-ext,vietnamese");
@import url("https://fonts.googleapis.com/css?family=Sanchez&subset=latin,latin-ext");
html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}
a img {
  border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  font: 12pt "Tahoma";
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
table {
    table-layout: fixed;
}
table th, table td {
    vertical-align: top;
    word-break: keep-all;
    word-wrap: break-word;
}

/*pages*/
.page {
  width: 210mm;
  min-height: 297mm;
  /*padding: 20mm;*/
  margin: 10mm auto;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
  padding: 1cm;
  /*border: 5px red solid;*/
  height: 257mm;
  /*outline: 2cm #FFEAEA solid;*/
  position: relative;
}
.up {
    height: 140mm;
}
.down {
    height: 132mm;
    /*margin-right: 1cm;*/
    margin-top: 20px;
    position: relative;
}

/*clear*/
.clearfix {
    display: block;
    clear: both;
}

/*memo*/
#memo .company-info {
    float: right;
    font-size: 12px;
}
#memo .company-info div {
    font-size: 28px;
    text-transform: uppercase;
    min-width: 20px;
    line-height: 1em;
}
#memo .company-info span {
    font-size: 10px;
    color: #808080;
    display: inline-block;
    min-width: 20px;
}
#memo .logo {
    float: left;
    margin-left: 15px;
}
#memo .logo img {
    width: 225px;
}
#memo:after {
    content: '';
    display: block;
    clear: both;
}

/*title*/
#invoice-title-number {
    margin: 25px 0 20px 0;
    display: inline-block;
    float: left;
}
#invoice-title-number .title-top {
    font-size: 15px;
    margin-bottom: 5px;
}
#invoice-title-number .title-top span {
    display: inline-block;
    min-width: 20px;
}
#invoice-title-number .title-top #number {
    text-align: right;
    float: right;
    color: #858585;
}
#invoice-title-number .title-top:after {
    content: '';
    display: block;
    clear: both;
}
#invoice-title-number #title {
    display: inline-block;
    background: #97b830;
    color: white;
    font-size: 40px;
    padding: 7px;
    font-family: Sanchez, Serif;
    line-height: 1em;
}

/*note info*/
#note-info {
    /*border: 1px solid #97b830;*/
    float: left;
    height: 36mm;
    /*left: 6.5cm;*/
    /*margin-left: 50px;*/
    padding: 7px 7px 7px 7mm;

    position: absolute;
    bottom: -0.8cm;
    left: -1cm;
    width: 51mm;
}
#note-info div span {
    font-size: 9px;
}
#note-info div span:first-child {
    font-weight: bold;
    margin-right: 10px;
    text-transform: uppercase;
}
#note-info div.footer {
    bottom: 7px;
    position: absolute;
}

#note-info table td {
    font-size: 9px;
    padding: 3px;
    border-bottom: 1px solid #ddd;
}
#note-info table tr.odd {
    background: #ededed;
}

/*client info*/
#client-info {
    float: right;
    font-size: 12px;
    text-align: right;
    margin-top: 25px;
    min-width: 220px;
}
#client-info .client-name {
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    margin: 7px 0;
}
#client-info > div {
    margin-bottom: 3px;
    min-width: 20px;
}
#client-info span {
    display: block;
    min-width: 20px;
}
#client-info > span {
    text-transform: uppercase;
    color: #858585;
    font-size: 15px;
}

/*invoice info*/
#invoice-info {
    float: left;
    font-size: 12px;
    margin-top: 5px;
}
#invoice-info div {
    margin-bottom: 0;
}
#invoice-info div span {
    display: inline-block;
    min-width: 20px;
    min-height: 18px;
}
#invoice-info div span:first-child {
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
}
#invoice-info:after {
    content: '';
    display: block;
    clear: both;
}
#invoice-info.font-small {
    font-size: 13px;
}

/*currency*/
.currency {
    margin-top: 0;
    text-align: right;
    color: #858585;
    font-style: italic;
    font-size: 10px;
}
.currency span {
    display: inline-block;
    min-width: 20px;
}

/*items table*/
#items {
    margin-top: 10px;
}
#items .first-cell, #items table th:first-child, #items table td:first-child {
    /*width: 18px;*/
    text-align: left;
}
#items table {
    border-collapse: separate;
    width: 100%;
}
#items table th {
    font-family: Sanchez, Serif;
    font-size: 10px;
    text-transform: uppercase;
    padding: 5px 3px;
    text-align: right;
    background: #474747;
    color: white;
}
#items table th.numero {
    text-align: left;
    width: 2%;
}
#items table th.articulo {
    text-align: left;
    width: 15%;
}
#items table th.descripcion {
    text-align: left;
}
#items table th.cantidad {
    width: 10%;
}
#items table th.precio {
    width: 7%;
}
#items table th.adelanto {
    width: 10%;
}
#items table th.descuento {
    width: 11%;
}
#items table th.total {
    width: 7.5%;
}
#items table tr.pair {
    background: #ededed;
}
#items table td {
    font-size: 10px;
    padding: 3px;
    text-align: right;
    border-bottom: 1px solid #ddd;
}
#items table td:first-child {
    text-align: left;
}
#items table td:nth-child(2) {
    text-align: left;
}
#items table td:nth-child(3) {
    text-align: left;
}

/*sub-table*/
#sums {
    float: right;
    font-size: 12px;
    margin-top: 5px;
}
#sums table tr th, #sums table tr td {
    min-width: 100px;
    padding: 3px 3px;
    text-align: right;
}
#sums table tr th {
    padding-right: 25px;
}
#sums table tr.amount-total td {
    background: #779226;
    color: white;
    font-family: Sanchez, Serif;
    font-size: 25px;
    line-height: 1em;
    padding: 5px !important;
}
#sums table tr.due-amount th, #sums table tr.due-amount td {
    font-weight: bold;
}

/*payment info*/
.payment-info {
    font-size: 12px;
    color: #858585;
    margin-top: 30px;
}
.payment-info div {
    min-width: 20px;
}
.payment-info div:first-child {
    font-weight: bold;
}

/*left stripes*/
.left-stripes {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    bottom: 0;
    width: 1cm;
    background: url("../images/invoices/stripe-bg.jpg") repeat;
}
.left-stripes .circle {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #97b830;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 1mm;
}
.left-stripes .circle.c-upper {
    top: 440px;
}
.left-stripes .circle.c-lower {
    top: 690px;
}

/*info pages*/
#info-pages {
    background: #d2e59a;
    /*bottom: 105px;*/
    color: #202020;
    font-family: Sanchez, Serif;
    font-size: 12px;
    padding: 11px;
    border: 1px solid #97b830;
    /*position: absolute;*/
    text-align: justify;
    width: 18.95cm;
}
#info-pages ol {
    margin: 10px 0 0 25px;
    list-style: decimal;
}
#info-pages li {
    margin: 0 0 8px 0;
}
#info-pages li:last-child {
    margin: 0;
}

/*info foot*/
#info-legal {
    background: #d2e59a;
    /*bottom: 0px;*/
    color: #202020;
    font-family: Sanchez, Serif;
    font-size: 11px;
    list-style: none;
    margin: 10px 0 0 0;
    padding: 11px;
    /*position: absolute;*/
    text-align: justify;
    width: 18.95cm;
}
#info-foot li {
    margin: 0 0 8px 0;
}
#info-foot li:last-child {
    margin: 0;
}
#info-pages strong {
    font-weight: bold;
}

/*signature*/
#signature{
    bottom: 0;
    display: block;
    float: left;
    height: 75px;
    position: absolute;
    width: 175px;
}
#signature span {
    border-bottom: 1px solid #474747;
    bottom: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
}

/*separator*/
hr.separator {
    background-color: #fff;
    border-top: 2px dashed #a5cb34;
    margin-left: -5mm;
    position: absolute;
    top: 148mm;
    width: 200mm;
}

/*delay*/
#delay {
    background-color: #fff;
    bottom: -125px;
    float: left;
    font-size: 13px;
    position: relative;
    text-align: justify;
}

/*media*/
@page {
  size: A4;
  margin: 0;
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }

  }
}