
<!DOCTYPE html>
<!--[if IE 8 ]> <html lang="es" class="ie8"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="es"> <!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />

    <title>{% block title %}{% endblock %}</title>

    <meta name="description" content="{% block description %}Cursos de reparación, desarrollo web e informática. Aprende una nueva profesión con ExpertosIT tu academia en Madrid.{% endblock %}">
    <meta name="keywords" content="{% block keywords %}curso reparacion moviles, academia, formación, iphone, tablet, curso symfony curso informatica, ofimatica, Madrid, Cuenca, Toledo, Guadalajara, Segovia Barcelona, Alicante{% endblock %}" />

    <meta property="og:title" content="{% block ogtitle %}{% endblock %}" />
    <meta property="og:description" content="{% block ogdescription %}Cursos de reparación e informática en ExpertosIT, la mejor academia de Madrid.{% endblock %}" />

    <meta name="author" content="Enrique Esteban Plaza" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- ////////////////////////////////// -->
    <!-- //     Retina Bookmark Icon     // -->
    <!-- ////////////////////////////////// -->
    <link rel="apple-touch-icon-precomposed" href="{{ asset('apple-icon.png') }}"/>

    <!-- ////////////////////////////////// -->
    <!-- //      Stylesheets Files       // -->
    <!-- ////////////////////////////////// -->
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
        {#<link rel="stylesheet" href="{{ asset('css/app.css') }}" type="text/css" />#}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/swiper.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/dark.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/font-icons.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/et-line.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/animate.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/cookiecuttr.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/responsive.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/colors.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/custom.css') }}" type="text/css" />

        <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% endblock %}

    <!-- ////////////////////////////////// -->
    <!-- //        Favicon Files         // -->
    <!-- ////////////////////////////////// -->
    <link rel="shortcut icon" href="{{ asset('/images/favicon.ico') }}"/>
</head>

<body class="stretched">
    {% block body %}{% endblock %}

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    {% block javascripts %}
        <!-- External JavaScripts
        ============================================= -->
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/plugins.js') }}"></script>

        <!-- File Scripts
       ============================================= -->
        <script src="{{ asset('js/functions.js') }}"></script>

        <script src="{{ asset('js/js.cookie.js') }}"></script>
        <script src="{{ asset('js/jquery.cookiecuttr.js') }}"></script>

        <!-- Custom Scripts
        ============================================= -->
        <script>
            $(document).ready(function () {
                // activate cookie cutter
                $.cookieCuttr({
                    cookieAnalyticsMessage: 'Cursosexpertosit.es usa cookies propias y de terceros para mejorar sus servicios web. Si continua navegando, se considerará que acepta su uso.',
                    cookieNotificationLocationBottom: true,
                    cookieAcceptButtonText: "Entendido",
                    cookieWhatAreLinkText: "¿Quieres saber más acerca de las coockies?",
                    cookieWhatAreTheyLink: "/aviso-legal/"
                });
            });

            if (jQuery.cookie('cc_cookie_decline') == "cc_cookie_decline") {
            } else {
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-57825910-1', 'auto');
              ga('send', 'pageview');
            }
        </script>
    {% endblock %}
</body>
</html>