{% extends 'frontend.html.twig' %}

{% block title  'Contacto ExpertosIT' %}
{% block description  'Contacto ExpertosIT, cursos baratos de reparación de moviles y tablets en Madrid.' %}
{% block keywords  'contacto expertosit, telefono curso reparación moviles, telefono curso reparacion iphone, contacto cursos madrid, contacto academia madrid' %}
{% block ogtitle  'Contacto ExpertosIT' %}
{% block ogdescription  'Contacto ExpertosIT, cursos baratos de reparación de moviles y tablets en Madrid.' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('/css/calendar.css') }}" type="text/css" />
{% endblock %}

{% block content %}
<!-- Page Title
============================================= -->
    <section id="page-title" class="page-title-dark">
        <div class="container clearfix">
            <h1>Calendario de cursos</h1>
            <span>Consulte las próximas convocatorias y reserve plaza.</span>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('calendar') }}">Inicio</a></li>
                <li class="breadcrumb-item active">calendario de cursos</li>
            </ol>
        </div><!-- #page-title end -->
    </section>

    <!-- Content
    ============================================= -->
    <section id="content">
        <div class="content-wrap">
                <div class="parallax header-stick bottommargin-lg dark background-calendar" data-bottom-top="background-position:0px 0px;" data-top-bottom="background-position:0px -500px;">
                    <div class="col_two_third">
                    <div class="container clearfix">
                        <div class="events-calendar">
                            <div class="events-calendar-header clearfix">
                                <h2>Calendario:</h2>
                                <h3 class="calendar-month-year">
                                    <span id="calendar-month" class="calendar-month"></span>
                                    <span id="calendar-year" class="calendar-year"></span>
                                    <nav>
                                        <span id="calendar-prev" class="calendar-prev"><i class="icon-chevron-left"></i></span>
                                        <span id="calendar-next" class="calendar-next"><i class="icon-chevron-right"></i></span>
                                        <span id="calendar-current" class="calendar-current" title="Got to current date"><i class="icon-reload"></i></span>
                                    </nav>
                                </h3>
                            </div>
                            <div id="calendar" class="fc-calendar-container"></div>
                        </div>
                    </div>
                    </div>
                    <div class="col_one_third col_last">
                        <div class="entry-image parallax header-stick" style="background-image: url('images/events/10.jpg'); height:600px"   data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">
                            <div class="entry-overlay-meta">
                                <h2><a href="#">Ibiza: Full Moon Beach Party</a></h2>
                                <ul class="iconlist">
                                    <li><i class="icon-calendar3"></i> <strong>Date:</strong> 15th March, 2015</li>
                                    <li><i class="icon-time"></i> <strong>Timing:</strong> 20:00 - 02:00</li>
                                    <li><i class="icon-map-marker2"></i> <strong>Location:</strong> Ibiza, Spain</li>
                                    <li><i class="icon-euro"></i> <strong>99.99</strong></li>
                                </ul>
                                <a href="#" class="btn btn-danger btn-block btn-lg">Buy Tickets</a>
                            </div>
                            <div class="entry-overlay">
                                <div id="event-countdown" class="countdown"></div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </section><!-- #content end -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('/js/jquery.calendario.es.js') }}"></script>
    <script src="{{ asset('/js/events-data.js') }}"></script>
    <script src="{{ asset('/js/functions.js') }}"></script>

    <script>
        var cal = $( '#calendar' ).calendario( {
                onDayClick : function( $el, $contentEl, dateProperties ) {

                    for( var key in dateProperties ) {
                        console.log( key + ' = ' + dateProperties[ key ] );
                    }

                },
                caldata : canvasEvents
            } ),
            $month = $( '#calendar-month' ).html( cal.getMonthName() ),
            $year = $( '#calendar-year' ).html( cal.getYear() );

        $( '#calendar-next' ).on( 'click', function() {
            cal.gotoNextMonth( updateMonthYear );
        } );
        $( '#calendar-prev' ).on( 'click', function() {
            cal.gotoPreviousMonth( updateMonthYear );
        } );
        $( '#calendar-current' ).on( 'click', function() {
            cal.gotoNow( updateMonthYear );
        } );

        function updateMonthYear() {
            $month.html( cal.getMonthName() );
            $year.html( cal.getYear() );
        };
    </script>
{% endblock %}
