{% extends 'frontend.html.twig' %}

{% block title  'Consulta de reparación' %}
{% block description  'Consuta tu reparación en progreso en ExpertosIT, SAT y academia en Madrid.' %}
{% block keywords  'reparacion, reparacion en curso, sat, servicio tecnico en madrid' %}
{% block ogtitle  'Consulta de reparación' %}
{% block ogdescription  'Consuta tu reparación en progreso en ExpertosIT, SAT y academia en Madrid.' %}

{% block content %}
    <!-- Page Title
    ============================================= -->
    <section id="page-title">
        <div class="container clearfix">
            <h1>Consulta de reparación</h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('index') }}">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Consulta de reparación</li>
            </ol>
        </div>
    </section><!-- #page-title end -->

    <!-- Content
    ============================================= -->
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div class="col_two_third nobottommargin">
                    <div class="well well-lg nobottommargin">
                        <!-- Form Start //-->
                        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                            <h3 class="bottommargin-lg">Inserte un código válido en el siguiente campo de texto:</h3>
                            {% for message in app.session.flashBag().get('error') %}
                                <div class="style-msg errormsg">
                                    <div class="sb-msg"><i class="icon-remove"></i>{{ message|raw }}</div>
                                </div>
                            {% endfor %}

                            <div class="col_half">
                                {#{{ form_label(form.code) }}#}
                                {{ form_widget(form.code, { 'attr': { 'class': 'sm-form-control' } }) }}
                            </div>

                            <div class="col_full">
                                {{ form_row(form.submit, { 'attr': { 'class': 'button button-3d button-color-custom nomargin' } }) }}
                            </div>
                        {{ form_end(form) }}<!-- Contact Form End //-->
                    </div>
                </div>

                <div class="col_one_third col_last nobottommargin col-padding color-soft-grey ohidden">
                    <h4>Ayuda:</h4>

                    <p>Tienes que introducir un código de reparación válido, el cual será suministrado por alguno de nuestros empleados en el momento de la tramitación.</p>
                    <p>En caso de que no disponga de dicho código o lo haya olvidado puede ponerse en contacto con ExpertosIT a través de los siguientes datos:</p>

                    <abbr title="Número de teléfono"><strong>Teléfono:</strong></abbr> 91 254 60 50.<br>
                    <abbr title="Número de móvil, conectado a Whatsapp"><strong>Móvil/Whatsapp:</strong></abbr> 694 416 825.<br>
                    <abbr title="Correo electrónico"><strong>Email:</strong></abbr> info@expertosit.es.

                    <i class="icon-info bgicon"></i>
                </div>
            </div>
        </div>
    </section><!-- #content end -->
{% endblock %}

