{% extends 'frontend.html.twig' %}

{% block title  'Contacto ExpertosIT' %}
{% block description  'Contacto ExpertosIT, cursos baratos de reparación de moviles y tablets en Madrid.' %}
{% block keywords  'contacto expertosit, telefono curso reparación moviles, telefono curso reparacion iphone, contacto cursos madrid, contacto academia madrid' %}
{% block ogtitle  'Contacto ExpertosIT' %}
{% block ogdescription  'Contacto ExpertosIT, cursos baratos de reparación de moviles y tablets en Madrid.' %}

{% block content %}
    <!-- Page Title
    ============================================= -->
    <section id="page-title">
        <div class="container clearfix">
            <h1>Contacto</h1>
            <span>Página de contacto.</span>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('index') }}">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Contacto</li>
            </ol>
        </div>

        <div id="page-title-gmap" class="gmap-bg gmap" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1;"></div>
    </section><!-- #page-title end -->

    <!-- Content
    ============================================= -->
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <!-- Postcontent
                ============================================= -->
                <div class="postcontent nobottommargin">

                    <h3>Póngase en contacto con nosotros a través del siguiente formulario.</h3>

                    {% for message in app.session.flashBag().get('success') %}
                        <div class="style-msg successmsg">
                            <div class="sb-msg"><i class="icon-thumbs-up"></i>El correo electrónico se ha enviado correctamente.</div>
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        </div>
                    {% endfor %}

                    {% for message in app.session.flashBag().get('error') %}
                        <div class="style-msg errormsg">
                            <div class="sb-msg"><i class="icon-remove"></i>No se ha podido enviar el correo electrónico, intentelo más tarde.</div>
                        </div>
                    {% endfor %}

                    <div class="contact-widget">
                        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                            {% if form_errors(form.name) != '' or form_errors(form.email) or form_errors(form.subject) != '' or form_errors(form.body) != '' %}
                                <div class="col_full">
                                    <div class="style-msg2 errormsg">
                                        <div class="msgtitle">Se han producido los siguientes errores:</div>
                                        <div class="sb-msg">
                                            <ul>
                                                {% if form_errors(form.name) != '' %}
                                                    <li>Se tiene que especificar un <strong>nombre</strong>.</li>
                                                {% endif %}
                                                {% if form_errors(form.email) != '' %}
                                                    <li>Se tiene que especificar un <strong>correo electrónico</strong>.</li>
                                                {% endif %}
                                                {% if form_errors(form.subject) != '' %}
                                                    <li>Se tiene que especificar un <strong>Asunto</strong>.</li>
                                                {% endif %}
                                                {% if form_errors(form.body) != '' %}
                                                    <li>No ha especificado el <strong>cuerpo</strong> del mensaje.</li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="col_half">
                                {{ form_label(form.name) }}
                                {{ form_widget(form.name, { 'attr': { 'class': 'sm-form-control' } }) }}

                            </div>

                            <div class="col_half col_last">
                                {{ form_label(form.email) }}
                                {{ form_widget(form.email, { 'attr': { 'class': 'sm-form-control' } }) }}
                            </div>

                            <div class="col_full">
                                {{ form_label(form.subject) }}
                                {{ form_widget(form.subject, { 'attr': { 'class': 'sm-form-control' } }) }}
                            </div>

                            <div class="col_full">
                                {{ form_label(form.body) }}
                                {{ form_widget(form.body, { 'attr': { 'class': 'sm-form-control' } }) }}
                            </div>

                            <div class="col_full">
                                <div class="g-recaptcha" data-sitekey="6LeH8x8UAAAAAKZtdZ6MD2lGCX4KfcYXo5j8R1Z2" data-callback="enableBtn"></div>
                            </div>

                            <div class="col_full">
                                {{ form_row(form.submit, { 'attr': { 'class': 'button button-3d button-color-custom nomargin' } }) }}
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div><!-- postcontent end -->

                <!-- Sidebar
                ============================================= -->
                <section class="sidebar col_last nobottommargin">
                    <address>
                        <strong>Dirección:</strong><br>
                        Calle Consenso, 30.<br>
                        28041, Madrid.<br>
                    </address>

                    <abbr title="Número de teléfono"><strong>Teléfono:</strong></abbr> 91 254 60 50.<br>
                    <abbr title="Número de móvil, conectado a Whatsapp"><strong>Móvil/Whatsapp:</strong></abbr> 694 416 825.<br>
                    <abbr title="Correo electrónico para los cursos"><strong>Email:</strong></abbr> cursos@expertosit.es.

                    <section>
                        <p class="nobottommargin topmargin-sm"><strong>Horario:</strong></p>
                        <ul class="iconlist">
                            <li><i class="icon-clock"></i><abbr title="De lunes a viernes, excepto festivos."><strong>Lunes a Viernes:</strong></abbr> 10:00 a 20:00<br></li>
                            <li><i class="icon-clock"></i><abbr title="Todos los sábados, excepto festivos."><strong>Sábado:</strong></abbr> 10:00 a 14:00<br></li>
                        </ul>
                    </section>

                    <div class="widget noborder notoppadding">
                        <a href="#" class="social-icon si-small si-borderless si-text-color si-facebook">
                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-text-color si-twitter">
                            <i class="icon-twitter"></i>
                            <i class="icon-twitter"></i>
                        </a>

                        <a href="https://www.instagram.com/expertosit_madrid/" class="social-icon si-small si-borderless si-text-color si-gplus">
                            <i class="icon-instagram"></i>
                            <i class="icon-instagram"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-text-color si-youtube">
                            <i class="icon-youtube"></i>
                            <i class="icon-youtube"></i>
                        </a>
                    </div>
                </div><!-- .sidebar end -->
            </div>
        </div>
    </section><!-- #content end -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyAsfs3ehk8DQ4jmjHAwbHBY58QInkz-n7U"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.gmap.js') }}"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <script type="text/javascript">
        $('#page-title-gmap').gMap({
            maptype: 'ROADMAP',
            zoom: 17,
            markers: [
                {
                    latitude: 40.357981,
                    longitude: -3.686210,
//                    html: '<div style="width: 300px;"><h4 style="margin-bottom: 8px;"><span>ExpertosIT</span></h4><p class="nobottommargin">La mejor academia de madrid, cursos de formación en técnico de reparación de móviles y tablets, informática y desarrollo web. Cursos adaptados a tus necesidades, 100% financiados sin intereses, prácticas reales en nuestra tienda y mucho más.</div>',
                    icon: {
                        image: "{{ asset('images/pages/contacto/map-marker.png') }}",
                        iconsize: [35, 39],
                        iconanchor: [13,39]
                    }
                }
            ],
            doubleclickzoom: false,
            controls: {
                panControl: true,
                zoomControl: true,
                mapTypeControl: false,
                scaleControl: false,
                streetViewControl: false,
                overviewMapControl: false
            }
        });

        function enableBtn() {
            document.getElementById("contact_mail_submit").disabled = false;
        }
    </script>
{% endblock %}
