{% extends 'frontend.html.twig' %}

{% block title  'Curso de microsoldadura - Aprenda a soldar todo tipo de componentes de un movil' %}
{% block description  'Curso práctico para aprender todo tipo de técnicas de soldadura como conectores de cargas, componentes SMD, reflow, reballing y mucho más' %}
{% block keywords  'curso de microsoldadura, aprender a soldar, soldar componentes smd, soldadura en mobiles, conectores de carga, puerto de carga, reflow, reballing, diodos, condensadores, curso de soldadura madrid' %}
{% block ogtitle  'Curso de microsoldadura - Aprenda a soldar todo tipo de componentes de un movil' %}
{% block ogdescription  'Curso práctico para aprender todo tipo de técnicas de soldadura como conectores de cargas, componentes SMD, reflow, reballing y mucho más' %}

{% block content %}
    <section id="page-title" class="page-title-parallax page-title-dark background-curso-header" data-stellar-background-ratio="0.3">
        <div class="container clearfix">
            <div class="col_four_fifth">
                <h1>Curso de Microsuldadura - 20 horas</h1>
                <span>Curso para aquellos que tienen una buena base teórica y quieran profundizar en las técnicas de microsoldadura para dispositivos móviles y tablets. Incluye el siguiente temario.</span>
            </div>
            <div class="col_one_fifth col_last">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('index') }}">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('mobile-course', { 'slug': 'microsoldadura'}) }}">Curso</a></li>
                    <li class="breadcrumb-item active">Microsoldadura</li>
                </ol>
            </div>
        </div>
    </section>

    <section id="content">
        <div class="content-wrap notoppadding background-curso-degradado">
            <div class="container clearfix topmargin">
                <div id="portfolio" class="portfolio grid-container portfolio-1 clearfix bottommargin">
                    <article class="portfolio-item pf-media pf-icons clearfix nobottomborder max-height-cursos">
                        <div class="portfolio-image width-50">
                            <img src="{{ asset('/images/pages/cursos/microscopio.jpg') }}" alt="Microscopio digital">
                        </div>
                        <div class="portfolio-desc width-50">
                            <h3>Electrónica</h3>
                            <p class="font-size-18">Fundamentos de la electrónica y reconocimiento y medición de componentes SMD y semiconductores.</p>

                            <div class="col_half">
                                <ul class="iconlist">
                                    <li><i class="icon-ok"></i> <strong>Condensadores</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Resistencias</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Diodos</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Transistores</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Termistores</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Bobinas</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Filtros y fusibles</strong>.</li>
                                </ul>
                            </div>
                            <div class="col_half col_last">
                                <ul class="iconlist">
                                    <li><i class="icon-ok"></i> <strong>Circuitos elevadores, supresores y reguladores</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Circuitos de carga</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Codecs de audio</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>CPU y memorias</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Wifi</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>PMIC (lineas de entrada y salida)</strong>.</li>
                                </ul>
                            </div>
                        </div>
                    </article>

                    <article class="portfolio-item pf-media pf-icons clearfix nobottomborder max-height-cursos">
                        <div class="portfolio-image width-50">
                            <img src="{{ asset('/images/pages/cursos/desoldando.jpg') }}" alt="Desoldando componentes de un iPhone 6">
                        </div>
                        <div class="portfolio-desc width-50">
                            <h3>Soldadura</h3>

                            <p class="font-size-18">Manejo de la estación de soldadura para todo tipo de trabajos.</p>

                            <div class="col_half">
                                <ul class="iconlist">
                                    <li><i class="icon-ok"></i> <strong>Componentes SMD</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Reflow</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Conectores de carga</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Switches</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Lectores de SIM</strong>.</li>
                                </ul>
                            </div>
                            <div class="col_half col_last">
                                <ul class="iconlist">
                                    <li><i class="icon-ok"></i> <strong>Recuperación de flex</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Jumpers</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Cargas directas</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Conectores de antena</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>FPC de pantalla, batería, etc.</strong>.</li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>
            </div>

            <div class="row common-height">
                <div class="col-lg-4 col-padding ohidden color-green">
                    <div>
                        <h3 class="uppercase t600">Asesoramiento</h3>
                        <p>Nuestros profesores están conectados via Whastapp para asesorarte en futuras reparaciones o dudas que te puedan surgir.</p>
                        <i class="icon-phone3 bgicon"></i>
                    </div>
                </div>

                <div class="col-lg-4 dark col-padding ohidden color-pink">
                    <div>
                        <h3 class="uppercase t600">Cursos personalizados</h3>
                        <p>No importa la base con la comiences ni tu disponibilidad horaria, nuestros cursos están adaptados a las necesidades de cada alumno.</p>
                        <i class="icon-thumbs-up bgicon"></i>
                    </div>
                </div>

                <div class="col-lg-4 dark col-padding ohidden color-garnet">
                    <div>
                        <h3 class="uppercase t600">Financiación</h3>
                        <p>Nuestros cursos están financiados al 100%. Sin papeleos y nóminas. Además te proveemos de todas las herramientas y repuestos que necesites. Pregúntenos para más información</p>
                        <i class="icon-line2-graph bgicon"></i>
                    </div>
                </div>

                <div class="clear"></div>
            </div>

            <a href="#" class="button button-full button-light center footer-stick button-white">
                <div class="container clearfix bottommargin-mb">
                    ¿Quieres saber más sobre nuestros cursos? <strong>Contacte con nosotros</strong> <i class="icon-caret-right"></i>
                </div>
            </a>
        </div>
    </section>
{% endblock %}