{% extends 'frontend.html.twig' %}

{% block title  'Curso de iniciación a la informática' %}
{% block description  'Curso de informática básica para aprender ofimática, navegar por internet de forma segura y mucho más' %}
{% block keywords  'curso iniciacion informatica, aprenda word, aprender office, navegar por internet seguro' %}
{% block ogtitle  'Curso de iniciación a la informática' %}
{% block ogdescription  'Curso de informática básica para aprender ofimática, navegar por internet de forma segura y mucho más' %}

{% block content %}
    <section id="page-title" class="page-title-parallax page-title-dark background-curso-informatica" data-stellar-background-ratio="0.3">
        <div class="container clearfix">
            <div class="col_three_fifth">
                <h1>Curso iniciación a la informática - 20 horas</h1>
                <span>Aprende los conceptos básicos de la informática en windows. Ofimática, Internet, seguridad y gestión de la economía domestica.</span>
            </div>
            <div class="col_two_fifth col_last">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('index') }}">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('computer-course') }}">Curso</a></li>
                    <li class="breadcrumb-item active">Informática básica.</li>
                </ol>
            </div>
        </div>
    </section>

    <section id="content">
        <div class="content-wrap notoppadding background-curso-degradado">
            <div class="row nopadding common-height ohidden">
                <div class="container clearfix topmargin">
                    <div id="portfolio" class="portfolio grid-container portfolio-1 clearfix bottommargin">
                        <article class="portfolio-item pf-media pf-icons clearfix nobottomborder max-height-cursos">
                            <div class="portfolio-image width-50">
                                <img src="{{ asset('/images/pages/cursos/windows-10-interfaz.jpg') }}" alt="Interfaz de Windows 10">
                            </div>
                            <div class="portfolio-desc width-50">
                                <h3>Windows</h3>

                                <p class="font-size-18">Iniciación y fundamentos del sistema operativo Windows.</p>

                                <ul class="iconlist">
                                    <li><i class="icon-ok"></i> <strong>Familiaridad con la interfaz, puntero, iconos, ventanas, etc</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Configuración básica de Windows</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Tipos de archivos multimedia, imágenes, videos, música</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Compresores de archivos, WinRar y 7Zip</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Manejo del explorador de archivos, copiar, cortar y pegar</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Creación de copias de seguridad de tú móvil Android o Apple</strong>.</li>
                                </ul>
                            </div>
                        </article>

                        <article class="portfolio-item pf-media pf-icons clearfix nobottomborder max-height-cursos">
                            <div class="portfolio-image width-50">
                                <img src="{{ asset('/images/pages/cursos/office.jpg') }}" alt="Logos de MS Office">
                            </div>
                            <div class="portfolio-desc width-50">
                                <h3>Ofimática</h3>

                                <p class="font-size-18">Manejo del software de ofimática MS Office, cree, edite y modifique todo tipo de documentos de oficina</p>

                                <ul class="iconlist">
                                    <li><i class="icon-ok"></i> <strong>Word. Creación de documentos profesionales de texto</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Excel. Cree y edite hojas de calculo, maneje formulas y estadísticas</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Powerpoint. Realize presentaciones interactivas</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Access. Cree bases de datos y espórtelas a Excel</strong>.</li>
                                </ul>
                            </div>
                        </article>

                        <article class="portfolio-item pf-media pf-icons clearfix nobottomborder max-height-cursos">
                            <div class="portfolio-image width-50">
                                <img src="{{ asset('/images/pages/cursos/internet.jpg') }}" alt="Dibujo que representa internet">
                            </div>
                            <div class="portfolio-desc width-50">
                                <h3>Internet</h3>

                                <p class="font-size-18">Conozca y manéjese en Internet con seguridad.</p>

                                <ul class="iconlist">
                                    <li><i class="icon-ok"></i> <strong>Fundamentos básicos de Internet</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Navegadores, diferencias entre ellos, manejo, personalización y complementos</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Seguridad en Internet y bloqueadores de publicidad</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Correo electrónico, aprenda a enviar y emails desde la web o desde el escritorio</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Redes sociales: Facebook, Twitter, Youtube, Instagram, etc</strong>.</li>
                                </ul>
                            </div>
                        </article>
                    </div>
                </div>
            </div>

            <div class="row common-height">
                <div class="col-lg-4 col-padding ohidden color-green">
                    <div>
                        <h3 class="uppercase t600">Asesoramiento</h3>
                        <p>Nuestros profesores están conectados via Whastapp para asesorarte en futuras reparaciones o dudas que te puedan surgir.</p>
                        <i class="icon-phone3 bgicon"></i>
                    </div>
                </div>

                <div class="col-lg-4 dark col-padding ohidden color-pink">
                    <div>
                        <h3 class="uppercase t600">Cursos personalizados</h3>
                        <p>No importa la base con la comiences ni tu disponibilidad horaria, nuestros cursos están adaptados a las necesidades de cada alumno.</p>
                        <i class="icon-thumbs-up bgicon"></i>
                    </div>
                </div>

                <div class="col-lg-4 dark col-padding ohidden color-garnet">
                    <div>
                        <h3 class="uppercase t600">Financiación</h3>
                        <p>Nuestros cursos están financiados al 100%. Sin papeleos y nóminas. Además te proveemos de todas las herramientas y repuestos que necesites. Pregúntenos para más información</p>
                        <i class="icon-line2-graph bgicon"></i>
                    </div>
                </div>

                <div class="clear"></div>
            </div>

            <a href="#" class="button button-full button-light center footer-stick button-white">
                <div class="container clearfix bottommargin-mb">
                    ¿Quieres saber más sobre nuestros cursos? <strong>Contacte con nosotros</strong> <i class="icon-caret-right"></i>
                </div>
            </a>
        </div>
    </section>
{% endblock %}