{% extends 'frontend.html.twig' %}

{% block title  'Curso Express - Curso de reparación de moviles en Madrid' %}
{% block description  'Curso de reparación de moviles en Madrid, formación barata y practica para eprender todo lo necesario de los smartphone' %}
{% block keywords  'curso de reparacion, moviles, iphone, practico, formacion, madrid, comunidad de madrid' %}
{% block ogtitle  'Curso Express - Curso de reparación de moviles en Madrid' %}
{% block ogdescription  'Curso de reparación de moviles en Madrid, formación barata y practica para eprender todo lo necesario de los smartphone' %}

{% block content %}
    <section id="page-title" class="page-title-parallax page-title-dark background-curso-header" data-stellar-background-ratio="0.3">
        <div class="container clearfix">
            <div class="col_four_fifth">
                <h1>Curso Express - 20 horas</h1>
                <span>En este curso entra todo el temario, pero este se imparte de forma más resumida. Con él aprenderemos lo siguiente.</span>
            </div>
            <div class="col_one_fifth col_last">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('index') }}">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('mobile-course', { 'slug': 'express'}) }}">Curso</a></li>
                    <li class="breadcrumb-item active">Express</li>
                </ol>
            </div>
        </div>
    </section>

    <section id="content">
        <div class="content-wrap notoppadding topmargin background-curso-degradado">
            <div class="container clearfix">
                <div id="portfolio" class="portfolio grid-container portfolio-1 clearfix bottommargin">
                    <article class="portfolio-item pf-media pf-icons clearfix nobottomborder max-height-cursos">
                        <div class="portfolio-image width-50">
                            <img src="{{ asset('/images/pages/cursos/fuente-de-alimentacion.jpg') }}" alt="fuente de alimentación electrónica">
                        </div>
                        <div class="portfolio-desc width-50">
                            <h3>Diagnostico</h3>

                            <p class="font-size-18">Uso de herramientas profesionales para el diagnóstico de dispositivos</p>

                            <ul class="iconlist">
                                <li><i class="icon-ok"></i> <strong>Multímetro</strong>.</li>
                                <li><i class="icon-ok"></i> <strong>Fuente de alimentación</strong>.</li>
                                <li><i class="icon-ok"></i> <strong>Cámara térmica</strong>.</li>
                                <li><i class="icon-ok"></i> <strong>Osciloscopio</strong>.</li>
                                <li><i class="icon-ok"></i> <strong>Cubeta de ultrasonidos</strong>.</li>
                                <li><i class="icon-ok"></i> <strong>Microscopio</strong>.</li>
                            </ul>
                        </div>
                    </article>

                    <article class="portfolio-item pf-media pf-icons clearfix nobottomborder max-height-cursos">
                        <div class="portfolio-image width-50">
                            <img src="{{ asset('/images/pages/cursos/iphone-6-desmontado.jpg') }}" alt="iPhone 6 desmontado">
                        </div>
                        <div class="portfolio-desc width-50">
                            <h3>Hardware</h3>

                            <p class="font-size-18">Desmontaje correcto de las principales marcas y reconocimiento de todos sus elementos.</p>

                            <ul class="iconlist">
                                <li><i class="icon-ok"></i> <strong>Baterías</strong>.</li>
                                <li><i class="icon-ok"></i> <strong>Cámaras</strong>.</li>
                                <li><i class="icon-ok"></i> <strong>Pantallas</strong>.</li>
                                <li><i class="icon-ok"></i> <strong>Flex de carga</strong>.</li>
                                <li><i class="icon-ok"></i> <strong>Sensores de proximidad/Luz</strong>.</li>
                                <li><i class="icon-ok"></i> <strong>Huella/Touch ID</strong>.</li>
                                <li><i class="icon-ok"></i> <strong>Botoneras</strong>.</li>
                                <li><i class="icon-ok"></i> <strong>Altavoces</strong>.</li>
                            </ul>
                        </div>
                    </article>

                    <article class="portfolio-item pf-media pf-icons clearfix nobottomborder max-height-cursos">
                        <div class="portfolio-image width-50">
                            <img src="{{ asset('/images/pages/cursos/microscopio.jpg') }}" alt="Microscopio digital">
                        </div>
                        <div class="portfolio-desc width-50">
                            <h3>Electrónica</h3>
                            <p class="font-size-18">Fundamentos de la electrónica y reconocimiento y medición de componentes SMD y semiconductores.</p>

                            <div class="col_half">
                                <ul class="iconlist">
                                    <li><i class="icon-ok"></i> <strong>Condensadores</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Resistencias</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Diodos</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Transistores</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Termistores</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Bobinas</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Filtros y fusibles</strong>.</li>
                                </ul>
                            </div>
                            <div class="col_half col_last">
                                <ul class="iconlist">
                                    <li><i class="icon-ok"></i> <strong>Circuitos elevadores, supresores y reguladores</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Circuitos de carga</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Codecs de audio</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>CPU y memorias</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Wifi</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>PMIC (lineas de entrada y salida)</strong>.</li>
                                </ul>
                            </div>
                        </div>
                    </article>

                    <article class="portfolio-item pf-media pf-icons clearfix nobottomborder max-height-cursos">
                        <div class="portfolio-image width-50">
                            <img src="{{ asset('/images/pages/cursos/ios-android.jpg') }}" alt="Logos de iOS y Android">
                        </div>
                        <div class="portfolio-desc width-50">
                            <h3>Software</h3>
                            <p class="font-size-18">Solución de todo tipo de problemas derivados del software.</p>

                            <div class="col_half">
                                <h4>Android</h4>
                                <ul class="iconlist">
                                    <li><i class="icon-ok"></i> <strong>Particiones Linux</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Desbloqueo de bootloader</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Bypass FRP</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Consolas ADB y Fastboot</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Flasheo de todas las marcas del mercado</strong>.</li>
                                </ul>
                            </div>
                            <div class="col_half col_last">
                                <h4>IOs</h4>
                                <ul class="iconlist">
                                    <li><i class="icon-ok"></i> <strong>Recuperación de iPhones</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Downgrade de terminales</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Fundamentos de iCloud (Backlist, etc.)</strong>.</li>
                                </ul>
                            </div>
                        </div>
                    </article>

                    <article class="portfolio-item pf-media pf-icons clearfix nobottomborder max-height-cursos">
                        <div class="portfolio-image width-50">
                            <img src="{{ asset('/images/pages/cursos/desoldando.jpg') }}" alt="Desoldando componentes de un iPhone 6">
                        </div>
                        <div class="portfolio-desc width-50">
                            <h3>Soldadura</h3>

                            <p class="font-size-18">Manejo de la estación de soldadura para todo tipo de trabajos.</p>

                            <div class="col_half">
                                <ul class="iconlist">
                                    <li><i class="icon-ok"></i> <strong>Componentes SMD</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Reflow</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Conectores de carga</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Switches</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Lectores de SIM</strong>.</li>
                                </ul>
                            </div>
                            <div class="col_half col_last">
                                <ul class="iconlist">
                                    <li><i class="icon-ok"></i> <strong>Recuperación de flex</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Jumpers</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Cargas directas</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>Conectores de antena</strong>.</li>
                                    <li><i class="icon-ok"></i> <strong>FPC de pantalla, batería, etc.</strong>.</li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>
            </div>

            <div class="row common-height">
                <div class="col-lg-4 col-padding ohidden color-green">
                    <div>
                        <h3 class="uppercase t600">Asesoramiento</h3>
                        <p>Nuestros profesores están conectados via Whastapp para asesorarte en futuras reparaciones o dudas que te puedan surgir.</p>
                        <i class="icon-phone3 bgicon"></i>
                    </div>
                </div>

                <div class="col-lg-4 dark col-padding ohidden color-pink">
                    <div>
                        <h3 class="uppercase t600">Cursos personalizados</h3>
                        <p>No importa la base con la comiences ni tu disponibilidad horaria, nuestros cursos están adaptados a las necesidades de cada alumno.</p>
                        <i class="icon-thumbs-up bgicon"></i>
                    </div>
                </div>

                <div class="col-lg-4 dark col-padding ohidden color-garnet">
                    <div>
                        <h3 class="uppercase t600">Financiación</h3>
                        <p>Nuestros cursos están financiados al 100%. Sin papeleos y nóminas. Además te proveemos de todas las herramientas y repuestos que necesites. Pregúntenos para más información</p>
                        <i class="icon-line2-graph bgicon"></i>
                    </div>
                </div>

                <div class="clear"></div>
            </div>

            <div class="row">
                <div class="container clearfix topmargin course-gift">
                    <div class="col_three_fifth nomargin">
                        <p>Llévese de regalo una cubeta de ultrasonidos y un juego de destornilladores de precisión.</p>
                    </div>
                    <div class="col_two_fifth col_last divcenter nomargin">
                        <img src="{{ asset('images/pages/cursos/regalos-fin-curso.jpg') }}" alt="Cubeta de ultrasonidos y destornilladores - regalos fin de curso" class="border-images-curso"></p>
                    </div>
                </div>
            </div>

            <a href="#" class="button button-full button-light center footer-stick button-white">
                <div class="container clearfix bottommargin-mb">
                    ¿Quieres saber más sobre nuestros cursos? <strong>Contacte con nosotros</strong> <i class="icon-caret-right"></i>
                </div>
            </a>
        </div>
    </section>
{% endblock %}