{% extends 'frontend.html.twig' %}

{% block title  'Curso de desarrollo web con Symfony 4' %}
{% block description  'Aprenda a desarrollar web de forma sencilla con el framework más potente del mercado, Symfony 4' %}
{% block keywords  'curso desarrollo web, aprenda desarrollo web facil, curso symfony 4, curso de desarrollo web en madrid' %}

{% block content %}
    <section id="page-title" class="page-title-parallax page-title-dark background-curso-symfony" data-stellar-background-ratio="0.3">
        <div class="container clearfix">
            <div class="col_three_fifth">
                <h1>Curso de desarrollo web con Symfony 4 - 50 horas</h1>
                <span>Aprender a desarrollar páginas web con Symfony 4, el framework PHP más potente.</span>
            </div>
            <div class="col_two_fifth col_last">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('index') }}">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('symfony-course') }}">Curso</a></li>
                    <li class="breadcrumb-item active">Symfony 4</li>
                </ol>
            </div>
        </div>
    </section>

    <!-- Content
    ============================================= -->
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div id="section-features" class="heading-block title-center page-section">
                    <h2>Características del curso</h2>
                    <span>En este curso aprenderás lo siguiente</span>
                </div>

                <div class="col_one_third">
                    <div class="feature-box fbox-plain">
                        <div class="fbox-icon" data-animate="bounceIn">
                            <img src="{{ asset('/images/icons/features/symfony.png') }}" alt="Logo de Symfony">
                        </div>
                        <h3>Symofony</h3>
                        <p>Funcionamiento, estructura de directorios y buenas prácticas del Framework PHP más potente.</p>
                    </div>
                </div>

                <div class="col_one_third">
                    <div class="feature-box fbox-plain">
                        <div class="fbox-icon" data-animate="bounceIn">
                            <img src="{{ asset('/images/icons/features/html5.png') }}" alt="Logo de HTML5">
                        </div>
                        <h3>HTML5/CSS</h3>
                        <p>Que es HTML y su uso en páginas web. Hojas de estilo .</p>
                    </div>
                </div>

                <div class="col_one_third col_last">
                    <div class="feature-box fbox-plain">
                        <div class="fbox-icon" data-animate="bounceIn">
                            <img src="{{ asset('/images/icons/features/php.png') }}" alt="Logo de PHP">
                        </div>
                        <h3>PHP</h3>
                        <p>Conceptos básicos del lenguaje de Programación PHP orientado a objetos y su uso en el framework Symfony.</p>
                    </div>
                </div>

                <div class="col_one_third">
                    <div class="feature-box fbox-plain">
                        <div class="fbox-icon" data-animate="bounceIn" data-delay="200">
                            <img src="{{ asset('/images/icons/features/twig.png') }}" alt="Logo de Twig">
                        </div>
                        <h3>Twig</h3>
                        <p>Aprende el funcionamiento del motor de plantillas Twig: diseño a tres niveles, macros, formulario personalizados, etc.</p>
                    </div>
                </div>

                <div class="col_one_third">
                    <div class="feature-box fbox-plain">
                        <div class="fbox-icon" data-animate="bounceIn" data-delay="400">
                            <img src="{{ asset('/images/icons/features/doctrine.png') }}" alt="doctrine logo">
                        </div>
                        <h3>Doctrine</h3>
                        <p>Maneja bases de datos con este motor de mapeo de objetos. Cree bases de datos desde entidades o viceversa, gestión de relaciones, callback, etc.</p>
                    </div>
                </div>

                <div class="col_one_third col_last">
                    <div class="feature-box fbox-plain">
                        <div class="fbox-icon" data-animate="bounceIn" data-delay="600">
                            <img src="{{ asset('/images/icons/features/symfony-bundles.png') }}" alt="Logo libros de Symfony">
                        </div>
                        <h3>Bundles más importantes</h3>
                        <p>Repasaremos los Bundles más importantes como EasyAdminBundle o FOSUserBundle.</p>
                    </div>
                </div>
            </div>

            <div class="section dark notopmargin nobottommargin noborder color-greyr">
                <div id="section-features" class="heading-block title-center page-section">
                    <h2>Nuestras habilidades</h2>
                </div>

                <div class="col_one_fourth nobottommargin center">
                    <div class="rounded-skill nobottommargin" data-color="#f16529" data-size="150" data-percent="90" data-width="2" data-speed="3000">
                        <img src="{{ asset('/images/icons/features/html5-sm.png') }}" alt="Logo de HTML5">
                    </div>
                </div>

                <div class="col_one_fourth nobottommargin center">
                    <div class="rounded-skill nobottommargin" data-color="#2965f1" data-size="150" data-percent="75" data-width="3" data-speed="4000">
                        <img src="{{ asset('/images/icons/features/css3-sm.png') }}" alt="Logo de CSS3">
                    </div>
                </div>

                <div class="col_one_fourth nobottommargin center">
                    <div class="rounded-skill nobottommargin" data-color="#6082bb" data-size="150" data-percent="75" data-width="3" data-speed="4000">
                        <img src="{{ asset('/images/icons/features/php-sm.png') }}" alt="Logo de PHP">
                    </div>
                </div>

                <div class="col_one_fourth nobottommargin center col_last">
                    <div class="rounded-skill nobottommargin" data-color="#4eaddb" data-size="150" data-percent="80" data-width="4" data-speed="2000">
                        <img src="{{ asset('/images/icons/features/symfony-sm.png') }}" alt="Logo de Symfony">
                    </div>
                </div>
            </div>

            <div class="row common-height">
                <div class="col-lg-4 col-padding ohidden color-green">
                    <div>
                        <h3 class="uppercase t600">Asesoramiento</h3>
                        <p>Nuestros profesores están conectados via Whastapp para asesorarte en futuras reparaciones o dudas que te puedan surgir.</p>
                        <i class="icon-phone3 bgicon"></i>
                    </div>
                </div>

                <div class="col-lg-4 dark col-padding ohidden color-pink">
                    <div>
                        <h3 class="uppercase t600">Cursos personalizados</h3>
                        <p>No importa la base con la comiences ni tu disponibilidad horaria, nuestros cursos están adaptados a las necesidades de cada alumno.</p>
                        <i class="icon-thumbs-up bgicon"></i>
                    </div>
                </div>

                <div class="col-lg-4 dark col-padding ohidden color-garnet">
                    <div>
                        <h3 class="uppercase t600">Financiación</h3>
                        <p>Nuestros cursos están financiados al 100%. Sin papeleos y nóminas. Además te proveemos de todas las herramientas y repuestos que necesites. Pregúntenos para más información</p>
                        <i class="icon-line2-graph bgicon"></i>
                    </div>
                </div>

                <div class="clear"></div>
            </div>

            <a href="#" class="button button-full button-light center footer-stick">
                <div class="container clearfix bottommargin-mb">
                    ¿Quieres saber más sobre nuestros cursos? <strong>Contacte con nosotros</strong> <i class="icon-caret-right"></i>
                </div>
            </a>

        </div>
    </section><!-- #content end -->
{% endblock %}