{% extends 'base.html.twig' %}

{% block body %}
    <!-- The Main Wrapper
	============================================= -->
    <div id="wrapper" class="clearfix">
        {% block header %}
            <!-- Header
		    ============================================= -->
            <header id="header" class="transparent-header semi-transparent dark full-header">
            {#<header id="header" class="transparent-header full-header" data-sticky-class="no-dark">#}
                <div id="header-wrap">
                    <div class="container clearfix">
                        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                        <!-- Logo
                        ============================================= -->
                        <div id="logo">
                            <a href="{{ path('index') }}" class="standard-logo" data-dark-logo="{{ asset('/images/expetosit-header-logo.png') }}"><img src="{{ asset('/images/expertosit-header-logo.png') }}" alt="Logo de cabecera de ExpertosIT"></a>
                            <a href="{{ path('index') }}" class="retina-logo" data-dark-logo="{{ asset('/images/expetosit-header-logo@2x.png') }}"><img src="{{ asset('/images/expertosit-header-logo@2x.png') }}" alt="Logo de cabecera de ExpertosIT"></a>
                        </div><!-- #logo end -->

                        <!-- Primary Navigation
                        ============================================= -->
                        <nav id="primary-menu">
                            <ul>
                                <li>
                                    <a href="{{ path('index') }}"><div>Inicio</div></a>
                                </li>

                                <li class="mega-menu"><a href="#"><div>Cursos <i class="icon-caret-down"></i></div></a>
                                    <div class="mega-menu-content style-2 clearfix">
                                        <ul class="mega-menu-column col-lg-4">
                                            <li class="mega-menu-title"><a href="#"><div>Informática</div></a>
                                                <ul>
                                                    <li><a href="{{ path('computer-course') }}"><div>Iniciación a la informática</div></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <ul class="mega-menu-column col-lg-4">
                                            <li class="mega-menu-title"><a href="#"><div>Reparación de móviles y tablets</div></a>
                                                <ul>
                                                    <li><a href="{{ path('mobile-course', { 'slug': 'express' }) }}"><div>Express</div></a></li>
                                                    <li><a href="{{ path('mobile-course', { 'slug': 'senior' }) }}"><div>Senior</div></a></li>
                                                    <li><a href="{{ path('mobile-course', { 'slug': 'microsoldadura' }) }}"><div>Soldadura</div></a></li>
                                                    <li><a href="#" target="_blank"><div>iPhone   <span class="badge badge-info inline-block bgcolor color-dark">Próximamente</span></div></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <ul class="mega-menu-column col-lg-4">
                                            <li class="mega-menu-title"><a href="#"><div>Desarrollo</div></a>
                                                <ul>
                                                    <li><a href="{{ path('symfony-course') }}"><div>Desarrollo web con Symfony 4</div></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="{{ path('portafolio') }}"><div>Portafolio</div></a>
                                </li>
                                <li>
                                    <a href=""><div>Otros servicios <i class="icon-caret-down"></i></div></a>
                                    <ul>
                                        <li><a href="{{ path('repair_query') }}"><div>Consulta de reparación</div></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="{{ path('contact') }}"><div>Contacto</div></a>
                                </li>
                                <li>
                                    <a href="{{ path('singup') }}"><div><i class="icon-lock"></i>Registro</div></a>
                                </li>
                            </ul>
                        </nav><!-- #primary-menu end -->
                    </div>
                </div>
            </header><!-- #header end -->
        {% endblock %}

        <!-- Site Content
        ============================================= -->
        {% block content  %}{% endblock %}


        <!-- Footer
        ============================================= -->
        {% block footer %}
            <footer id="footer" class="dark">
                <!-- Container
                ============================================= -->
                <div id="container">
                    <div class="container clearfix">
                        <div class="row">
                            <div class="col-lg-5 col-md-6">
                                <div class="widget clearfix topmargin-sm bottommargin-sm">
                                    <img src="{{ asset('/images/expertosit-footer-logo.png') }}" alt="logo de expertosit" class="alignleft">

                                    <div class="clearfix"></div>

                                    <a href="https://www.facebook.com/Expertosit-cursos-y-reparaciones-1692506624384592" target="_blank" class="social-icon si-small si-borderless si-facebook">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a>

                                    <a href="https://twitter.com/expertosit" target="_blank" class="social-icon si-small si-borderless si-twitter">
                                        <i class="icon-twitter"></i>
                                        <i class="icon-twitter"></i>
                                    </a>

                                    <a href="https://www.instagram.com/expertosit_madrid/" class="social-icon si-small si-borderless si-gplus">
                                        <i class="icon-instagram"></i>
                                        <i class="icon-instagram"></i>
                                    </a>

                                    <a href="https://www.youtube.com/channel/UCXh_c0kzEf3-oQVoVMeY8_w" target="_blank" class="social-icon si-small si-borderless si-youtube">
                                        <i class="icon-youtube"></i>
                                        <i class="icon-youtube"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-7 col-md-6">
                                <div class="widget clearfix topmargin-sm bottommargin-sm">
                                    <div class="clear-bottommargin-sm">
                                        <div class="row clearfix">
                                            <div class="col-lg-6">
                                                <div class="footer-big-contacts">
                                                    <span>Llámenos:</span>
                                                    <a href="tel:694416825">694 416 825</a>
                                                </div>
                                                <div class="d-block d-md-block d-lg-none bottommargin-sm"></div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="footer-big-contacts">
                                                    <span>Envíenos un eMail:</span>
                                                    <a href="mailto:cursos@expertosit.es">cursos@expertosit.es</a>
                                                </div>
                                                <div class="d-block d-md-none bottommargin-sm"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Copyrights
                ============================================= -->
                <div id="copyrights">
                    <div class="container center uppercase clearfix">
                        © 2018 ExpertosIT
                        | <a href="{{ path('legal') }}" class="link">Aviso legal</a>
                        | <a href="{{ path('legal') }}">Política de privacidad</a>
                    </div>
                </div><!-- #copyrights end -->
            </footer><!-- #footer end -->
        {% endblock %}
    </div>

    <!-- WhatsApp icon top
    ============================================= -->
    <div id="whatsappBtn" class="top">
        <a href="https://wa.me/34694416825"><img src="{{ asset('images/whatsapp-logo.png') }}" alt="Logo de WhatsApp"></a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(window).scroll(function() {
            var scroll = $(window).scrollTop();

            if(window.innerWidth <= 767) {
                if (scroll >= 50 && $("#whatsappBtn").hasClass("top")) {
                    $("#whatsappBtn").fadeOut(300, function(){
                        $("#whatsappBtn").removeClass("top");
                        $("#whatsappBtn").addClass("bottom");
                        $("#whatsappBtn").fadeIn(300);
                    });
                } else if (scroll < 50 && $("#whatsappBtn").hasClass("bottom") ) {
                    $("#whatsappBtn").fadeOut(300, function(){
                        $("#whatsappBtn").removeClass("bottom");
                        $("#whatsappBtn").addClass("top");
                        $("#whatsappBtn").fadeIn(300);
                    });
                }
            }
        });
    </script>
{% endblock %}