{% extends 'frontend.html.twig' %}

{% block title 'ExpertosIT - Cursos de reparación de móviles, microsoldadura y rebaling.'  %}
{% block description 'Los mejores cursos de reparación de teléfonos móviles, microsoldadura y rebaling los tiene en ExpertosIT, tú academia en Madrid.' %}
{% block keywords %} {{ parent() }} {% endblock %}
{% block ogtitle 'ExpertosIT - Cursos de reparación de móviles, microsoldadura y rebaling.' %}
{% block ogdescription 'Los mejores cursos de reparación de teléfonos móviles, microsoldadura y rebaling los tiene en ExpertosIT, tú academia en Madrid.' %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {#<!-- Slider#}
    {#============================================= -->#}
    {#<section id="slider" class="slider-element slider-parallax dark header-custom" style="" data-height-xl="670" data-height-lg="500" data-height-md="400" data-height-sm="250" data-height-xs="200">#}
        {#<div class="slider-parallax-inner">#}
            {#<div class="container clearfix">#}
                {#<div class="vertical-middle center">#}
                    {#<div class="heading-block nobottomborder center">#}
                        {#<div class="text-white" data-class-xxs="topmargin">#}
                            {#<div class="text-rotater text-white" data-separator="|" data-rotate="fadeIn" data-speed="3500">#}
                                {#<h1 class="h1-index-custom">ExpertosIT <span>cursos de reparación</span> de móviles y tablets.</h1>#}
                                {#<h3>LLámanos o envíanos un Whatsapp al <a class="color-a-index" href="tel:694416825">694 416 825</a></h3>#}
                                {#<img src="{{ asset('images/pages/index/logo-aventaja.jpg') }}" alt="logo de aventaja">#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}

        {#<a href="#" data-scrollto="#content" data-offset="100" class="dark one-page-arrow"><i class="icon-angle-down infinite animated fadeInDown"></i></a>#}
    {#</section>#}

    <!-- Slider
	============================================= -->
    <section id="slider" class="slider-element revslider-wrap slider-parallax clearfix">
        <div class="slider-parallax-inner">
            <div id="rev_slider_579_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="default-slider" style="padding:0px;">
                <!-- START REVOLUTION SLIDER -->
                <div id="rev_slider_579_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.1.4">
                    <ul>   <!-- SLIDE  -->
                        <li data-transition="slideup" data-slotamount="1" data-masterspeed="1500" data-delay="10000"  data-saveperformance="off"  data-title="Responsive &amp; Retina">
                            <!-- MAIN IMAGE -->
                            <img class="no-max-width" src="{{ asset('images/pages/index/taller-del-aula-2.jpg') }}"  alt="kenburns6"  data-bgposition="left top" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="130" data-scaleend="100" data-bgpositionend="right bottom">
                            <!-- LAYERS -->

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption ltl tp-resizeme revo-slider-caps-text uppercase"
                                 data-x="['left','left','left','left']" data-hoffset="['40','40','40','40']"
                                 data-y="['top','top','top','top']" data-voffset="['150','150','130','100']"
                                 data-transform_in="x:-200;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                 data-speed="800"
                                 data-start="1500"
                                 data-easing="easeOutQuad"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.1"
                                 data-endspeed="1000"
                                 data-endeasing="Power4.easeIn" style="z-index: 3; white-space: nowrap; color: #FFF;">
                                Bienvenido a ExpertosIT
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption ltl tp-resizeme revo-slider-emphasis-text nopadding noborder"
                                 data-x="['left','left','left','left']" data-hoffset="37"
                                 data-y="['top','top','top','top']" data-voffset="['180','180','150','120']"
                                 data-transform_in="x:10;y:0;z:0;rotationY:120;rotationZ:0;scaleX:0.8;scaleY:0.8;skewX:0;s:600;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 50%;"
                                 data-speed="600"
                                 data-start="1700"
                                 data-easing="easeOutCubic"
                                 data-splitin="chars"
                                 data-splitout="none"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="1000"
                                 data-endeasing="Power4.easeIn" style="z-index: 3; white-space: nowrap; color: #FFF; line-height: 1.2; max-width: 450px; width: 450px; white-space: normal;">
                                La mejor academia de Madrid.
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption tp-resizeme"
                                 data-x="['right','right','right','right']" data-hoffset="['-300','300','-70','-50']"
                                 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['30','30','90','90']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-type="image"
                                 data-responsive_offset="on"
                                 data-frames='[{"delay":4200,"speed":400,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeIn"},{"delay":"wait","speed":400,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['inherit','inherit','inherit','inherit']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 8;">
                                <img class="margin-aventaja" src="{{ asset('/images/pages/index/logo-aventaja.jpg') }}" alt="Logo del proyecto Aventaja" data-ww="['60%','60%','60%','75%']" data-hh="['60%','60%','60%','60%']" data-no-retina>
                            </div>
                        </li>
                    </ul>
                </div>
            </div><!-- END REVOLUTION SLIDER -->
        </div>
    </section><!-- #slider end -->

    <!-- Content
    ============================================= -->
    <section id="content">
        <div id="content-wrap-index" class="content-wrap background-index-images">
            {# <div class="modal-on-load" data-target="#myModal1" data-delay="500"></div> #}
            <!-- Modal -->
            {# <div class="modal1 mfp-hide" id="myModal1">
                <div class="block divcenter width-500px color-white">
                    <div class="row">
                        <a href="#" class="button button-close" onClick="$.magnificPopup.close();return false;"><i class="icon-line-cross"></i></a>
                    </div>
                    <div class="ohidden padding-30-60">
                        <h3 class="nobottommargin font-sm-mobile"><span class="badge badge-secondary">Nuevo</span> Curso práctico - 20 horas</h3>
                        <h4 class="text-xl-center bottommargin-ssm font-sm-mobile"><span class="text-bg-xl">320 €</span></h4>
                        <p class="nobottommargin font-size-10-mobile"><strong>¡Nuevo curso en ExpertosIT!</strong> Donde aprenderás de forma práctica la reparación de dispositivos móviles y tablets.</p>
                        <br>
                        <ul class="iconlist nobottommargin font-size-10-mobile">
                            <li><i class="icon-ok"></i>Curso <strong>completamente práctico</strong>, aprenderás todo lo necesario reparando.</li>
                            <li><i class="icon-ok"></i>Intensivo. <strong>20 horas</strong> repartidas en <strong>10 horas diarias</strong> dos días a la semana entre lunes y sábado.</li>
                            <li><i class="icon-ok"></i>Además si traes tus propios dispositivos, los repararás con nosotros <strong>obteniendo beneficios inmediatos</strong>.</li>
                        </ul>

                        <div class="promo nopadding nomargin">
                            <h3 class="font-sm-mobile">
                                Contáctenos <a href="tel:694416825">694 416 825</a>
                                <img class="width-24px" src="{{ asset('/images/icons/whatsapp.png') }}" alt="logo de whatsapp">
                                <i class="icon-phone3"></i>
                            </h3>
                        </div>

                        <i class="icon-news bgicon"></i>
                    </div>
                </div> #}<!-- End Modal -->
            </div>

            <div class="container clearfix">
                <div class="section nomargin notoppadding nobg">
                    <div class="container clearfix">
                        <div class="heading-block center nomargin">
                            <h1 class="font-size-20">En ExpertosIT disponemos de los mejores cursos de reparación de móviles.</h1>
                            <span>LLámanos o envíanos un Whatsapp al <a class="color-a-index" href="tel:694416825">694 416 825</a></span>
                        </div>
                    </div>
                </div>

                <!-- Post Content
                ============================================= -->
                <div class="postcontent bothsidebar nobottommargin clearfix">
                    <p><span class="dropcap">A</span>prende una nueva profesión con nuestros cursos de reparación de moviles y tablets, los más completos del mercado, con precios muy ajustados y completamente adaptados a tus necesidades. En Expertosit contamos con las herramientas de reparación y diagnostico más avanzadas que existen a día de hoy en el mercado y puedes aprender a utilizarlas con nuestros cursos.</p>

                    <div class="clear"></div>

                    <h3>Nuestros Cursos:</h3>

                    <!-- Portfolio Items
                    ============================================= -->
                    <div id="course-list" class=" clearfix">
                        <article class="course-item clearfix">
                                <a href="{{ path('mobile-course', { 'slug': 'express' }) }}">
                                    <img src="{{ asset('/images/pages/index/alumno-reparando-iphone.jpg') }}" alt="alumno del centro reparando un teléfono iPhone">

                                    <div class="background-overlay"></div>

                                    <div class="course-desc">
                                        <h3>EXPRESS</h3>
                                        <span>20 HORAS</span>
                                    </div>
                                    <div class="course-overlay">
                                        <h3>EXPRESS</h3>
                                        <span>20 HORAS</span>
                                        <p>Curso de formación más rápido y concentrado.</p>
                                    </div>
                                </a>
                        </article><!-- #course-item end -->

                        <article class="course-item clearfix">
                            <a href="{{ path('mobile-course', { 'slug': 'senior' }) }}">
                                <img src="{{ asset('/images/pages/index/taller-de-reparaciones.jpg') }}" alt="taller de reparaciones">

                                <div class="background-overlay"></div>

                                <div class="course-desc">
                                    <h3>SENIOR</h3>
                                    <span>60 HORAS</span>
                                </div>
                                <div class="course-overlay">
                                    <h3>SENIOR</h3>
                                    <span>60 HORAS</span>
                                    <p>Nuestro curso más completo, donde aprenderás todo lo necesario para enfrentarte a la reparación de móviles y tablets.</p>
                                </div>
                            </a>
                        </article><!-- #course-item end -->

                        <article class="course-item clearfix">
                            <a href="{{ path('mobile-course', { 'slug': 'microsoldadura' }) }}">
                                <img src="{{ asset('/images/pages/index/profesores-reparando-en-el-taller.jpg') }}" alt="profesores reparando en el taller">

                                <div class="background-overlay"></div>

                                <div class="course-desc">
                                    <h3>MICROSOLDADURA</h3>
                                    <span>20 HORAS</span>
                                </div>
                                <div class="course-overlay">
                                    <h3>MICROSOLDADURA</h3>
                                    <span>20 HORAS</span>
                                    <p>Si ya tienes una buena base teórica y quieres aprende técnicas y trucos de soldadura o profundizar en ellas, este es tú curso.</p>
                                </div>
                            </a>
                        </article><!-- #course-item end -->

                        <article class="course-item clearfix">
                            <a href="">
                                <img src="{{ asset('/images/pages/index/apple-logo.jpg') }}" alt="Logo de Apple">

                                <div class="background-overlay"></div>

                                <div class="course-desc">
                                    <h3>Curso técnico de iPhone</h3>
                                    <span>Próximamente</span>
                                </div>
                                <div class="course-overlay">
                                    <h3>Curso técnico de iPhone</h3>
                                    <span>Próximamente</span>
                                    <p>Curso orientado exclusivamente a la reparación de todos los modelos de teléfonos iPhone.</p>
                                </div>
                            </a>
                        </article><!-- #course-item end -->

                    </div><!-- #course-list end -->
                </div><!-- .postcontent end -->

                <!-- Sidebar
                ============================================= -->
                <div class="sidebar nobottommargin clearfix">
                    <div class="sidebar-widgets-wrap">
                        <div class="widget widget-custom clearfix">
                            <div class="row">
                                <div class="col_full ohidden col-custom color-turquoise">
                                    <h3 class="uppercase">¿Por qué elegirnos?</h3>
                                    <p>En ExpertosIT contamos con profesores con años de experiencia en el sector. Herramientas avanzadas, como cámaras térmicas u osciloscopio y horarios flexibles para adaptarnos a tús necesidades.</p>
                                    <i class="icon-bulb bgicon"></i>
                                </div>

                                <div class="col_full ohidden col-custom color-green">
                                    <div>
                                        <h3 class="uppercase">Nuestra misión</h3>
                                        <p>Reparar un dispositivo móvil o tablet no sólo se limita a sustituir componentes, como pantallas o batería. El diagnostico, la interpretación de esquemáticos, soldar componentes SMD o entender el software del dispositivo son tan importantes como lo primero. Nuestro objetivo es que aprendas todo eso y mucho más.</p>
                                        <i class="icon-cog bgicon"></i>
                                    </div>
                                </div>

                                <div class="col_full dark ohidden col-custom color-pink">
                                    <div>
                                        <h3 class="uppercase">¿Qué te podemos ofrecer?</h3>
                                        <p>La garantía de que realizando nuestros cursos vas a aprender una nueva profesión y enfrentarte al mercado laborar como un técnico bien formado.</p>
                                        <i class="icon-thumbs-up bgicon"></i>
                                    </div>
                                </div>

                                <div class="col_full dark ohidden col-custom color-garnet">
                                    <div>
                                        <h3 class="uppercase">Prácticas reales.</h3>
                                        <p>También somos servicio técnico, por tanto la única academia en Madrid que puede ofrecerte prácticas reales en nuestro local.</p>
                                        <i class="icon-shop bgicon"></i>
                                    </div>
                                </div>

                                <div class="col_full dark ohidden col-custom color-grey">
                                    <div>
                                        <h3 class="uppercase">Otros cursos</h3>
                                        <p>Además de los cursos de reparación de móviles también disponemos de cursos de <a href="{{ path('computer-course') }}">informática básica</a> y <a href="{{ path('symfony-course') }}">desarrollo web con Symfony 4</a>.</p>
                                        <i class="icon-study bgicon"></i>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div><!-- .sidebar end -->

                <!-- Sidebar
                ============================================= -->
                <div class="sidebar nobottommargin col_last clearfix">
                    <h3>Últimos videos:</h3>

                    <!-- Portfolio Items
                    ============================================= -->
                    <div id="portfolio" class="portfolio portfolio-1 grid-container portfolio-fullwidth portfolio-custom clearfix">
                        {% for video in videos %}
                            <article class="portfolio-item pf-graphics pf-uielements clearfix pf-index nomargin height-index-youtube">
                                <div class="portfolio-image">
                                    <a href="#">
                                        <img src="{{ asset('/images/pages/portfolio/youtube/' ~ video.embed ~ '.jpg') }}" alt="{{ video.title }}" class="index">
                                    </a>
                                    <div class="portfolio-overlay">
                                        <a href="http://www.youtube.com/watch?v={{ video.embed }}" class="center-icon index" data-lightbox="iframe"><i class="icon-line-play"></i></a>
                                    </div>
                                </div>
                                <div class="portfolio-title">
                                    <h3>{{ video.title }}</h3>
                                </div>
                            </article>
                        {% endfor %}
                    </div><!-- #portfolio end -->
                </div><!-- .sidebar end -->

            </div>
            <div class="container topmargin">
                <div class="col_full">
                    <h3>Nuestro colaboradores:</h3>
                    <ul class="clients-grid grid-4 nobottommargin clearfix">
                        <li><a href="https://iesangelcorella.es/" target="_blank" class="width-50"><img src="{{ asset('/images/pages/index/logo-angel-corella.jpg') }}" alt="Clients"></a></li>
                        <li><a href="http://www.iesvillaverde.es/" target="_blank" class="width-50"><img src="{{ asset('/images/pages/index/logo-villaverde.jpg') }}" alt="Clients"></a></li>
                        <li><a href="https://infoacoso.es/" target="_blank" class="width-30"><img src="{{ asset('/images/pages/index/logo-infoacoso.jpg') }}" alt="Clients"></a></li>
                        <li><a href="https://www.laucidelmovil.com/" target="_blank" class="width-35"><img src="{{ asset('/images/pages/index/logo-la-uci-del-movil.jpg') }}" alt="Clients"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!-- #content end -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- REVOLUTION JS FILES -->
    <script type="text/javascript" src="{{ asset('include/rs-plugin/js/jquery.themepunch.tools.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('include/rs-plugin/js/jquery.themepunch.revolution.min.js') }}"></script>


    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script type="text/javascript" src="{{ asset('include/rs-plugin/js/extensions/revolution.extension.actions.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('include/rs-plugin/js/extensions/revolution.extension.carousel.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('include/rs-plugin/js/extensions/revolution.extension.kenburn.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('include/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('include/rs-plugin/js/extensions/revolution.extension.migration.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('include/rs-plugin/js/extensions/revolution.extension.navigation.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('include/rs-plugin/js/extensions/revolution.extension.parallax.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('include/rs-plugin/js/extensions/revolution.extension.slideanims.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('include/rs-plugin/js/extensions/revolution.extension.video.min.js') }}"></script>

    <script>

        var tpj = jQuery,
            sliderHeight = 0;

        var revapi202;
        tpj(document).ready(function() {
            if (tpj("#rev_slider_579_1").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_579_1");
            } else {
                revapi202 = tpj("#rev_slider_579_1").show().revolution({
                    sliderType: "standard",
                    jsFileLocation: "include/rs-plugin/js/",
                    sliderLayout: "fullscreen",
                    dottedOverlay: "none",
                    delay: 9000,
                    responsiveLevels: [1140, 1024, 778, 480],
                    visibilityLevels: [1140, 1024, 778, 480],
                    gridwidth: [1140, 1024, 778, 480],
                    gridheight: [728, 768, 960, 720],
                    lazyType: "none",
                    shadow: 0,
                    spinner: "off",
                    stopLoop: "on",
                    stopAfterLoops: 0,
                    stopAtSlide: 1,
                    shuffle: "off",
                    autoHeight: "off",
                    fullScreenAutoWidth: "off",
                    fullScreenAlignForce: "off",
                    fullScreenOffsetContainer: "",
                    fullScreenOffset: "",
                    disableProgressBar: "on",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll:"off",
                        disableFocusListener:false,
                    },
                    parallax: {
                        type:"mouse",
                        origo:"slidercenter",
                        speed:300,
                        levels:[2,4,6,8,10,12,14,16,18,20,22,24,49,50,51,55],
                    }
                });
                revapi202.bind("revolution.slide.onloaded",function (e) {
                    setTimeout( function(){
                        SEMICOLON.slider.sliderParallaxDimensions();
                        sliderHeight = jQuery('#slider').outerHeight();
                    }, 200 );
                });

                revapi202.bind("revolution.slide.onchange",function (e,data) {
                    SEMICOLON.slider.revolutionSliderMenu();
                });
            }
        }); /*ready*/

        jQuery(window).on( 'load', function(){

            jQuery(window).on( 'scroll', function(){
                if( ( jQuery('body').hasClass('device-xl') || jQuery('body').hasClass('device-lg') ) && !SEMICOLON.isMobile.any() ) {
                    if( ( sliderHeight/2 ) > jQuery(window).scrollTop() ){
                        jQuery('.sticky-side-element').fadeOut();
                    } else {
                        jQuery('.sticky-side-element').fadeIn();
                    }
                }
            });
        })

    </script>
{% endblock %}
