{% extends 'frontend.html.twig' %}

{% block title  'Aviso legal y política de privacidad - ExpertosIT' %}
{% block description  'Políticas de privacidad y avisos legales en ExpertosIT academia de formación en Madrid' %}
{% block keywords  'politicas de privacidad, avisos legales, avisos legales de la academia expertosit' %}
{% block ogtitle  'Aviso legal y política de privacidad - ExpertosIT' %}
{% block ogdescription  'Políticas de privacidad y avisos legales en ExpertosIT academia de formación en Madrid' %}

{% block content %}
    <!-- Page Title
    ============================================= -->
    <section id="page-title">
        <div class="container clearfix">
            <h1>Aviso legal y política de privacidad</h1>
            <span>Todas las cuestiones relacionadas con el cumplimiento de las legislación vigente.</span>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('index') }}">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Aviso legal y políticas de privacidad</li>
            </ol>
        </div>
    </section><!-- #page-title end -->

    <!-- Content
    ============================================= -->
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <!-- Tab Content
                ============================================= -->
                <div class="tabs clearfix" id="tabs">
                    <ul class="tab-nav clearfix">
                        <li><a href="#aviso-legal"><i class="icon-legal"></i>Aviso legal</a></li>
                        <li><a href="#politicas-privacidad"><i class="icon-lock"></i>Políticas de privacidad</a></li>
                    </ul>

                    <div class="tab-container">
                        <div class="tab-content clearfix" id="aviso-legal">
                            <!-- begin of warning 1 -->
                            <h4>1. DATOS IDENTIFICATIVOS</h4>
                            <p class="text-indent-20">En cumplimiento con el deber de información recogido en artículo 10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y del Comercio Electrónico, a continuación se reflejan los siguientes datos:</p>
                            <ul class="iconlist">
                                <li><i class="icon-legal"></i>Nombre de la empresa titular de dominio web: Expertosit<sup>&reg;</sup> (en adelante Expertosit).</li>
                                <li><i class="icon-legal"></i>Domicilio: Calle Consenso, 30, 28041</li>
                                <li><i class="icon-legal"></i>C.I.F.: 44050202G</li>
                                <li><i class="icon-legal"></i>Correo electrónico de contacto: expertosit06@gmail.com</li>
                            </ul>

                            <!-- begin of warning 2 -->
                            <h4>2. USUARIOS</h4>
                            <p class="text-indent-20">El acceso y/o uso de este portal de Expertosit atribuye la condición de USUARIO, que acepta, desde dicho acceso y/o uso, las Condiciones Generales de Uso aquí reflejadas. Las citadas Condiciones serán de aplicación independientemente de las Condiciones Generales de Contratación que en su caso resulten de obligado cumplimiento.</p>

                            <!-- begin of warning 3 -->
                            <h4>3. USO DEL PORTAL</h4>
                            <p class="text-indent-20">www.expertosit.es proporciona el acceso a multitud de informaciones, servicios, programas o datos (en adelante, “los contenidos”) en Internet pertenecientes a Expertosit o a sus licenciantes a los que el USUARIO pueda tener acceso. El USUARIO asume la responsabilidad del uso del portal. Dicha responsabilidad se extiende al registro que fuese necesario para acceder a determinados servicios o contenidos.</p>
                            <p class="text-indent-20">En dicho registro el USUARIO será responsable de aportar información veraz y lícita. Como consecuencia de este registro, al USUARIO se le puede proporcionar una contraseña de la que será responsable, comprometiéndose a hacer un uso diligente y confidencial de la misma. El USUARIO se compromete a hacer un uso adecuado de los contenidos y servicios (como por ejemplo servicios de chat, foros de discusión o grupos de noticias) que Nombre de la empresa creadora del sitio web ofrece a través de su portal y con carácter enunciativo pero no limitativo, a no emplearlos para (i) incurrir en actividades ilícitas, ilegales o contrarias a la buena fe y al orden público; (ii) difundir contenidos o propaganda de carácter racista, xenófobo, pornográfico-ilegal, de apología del terrorismo o atentatorio contra los derechos humanos; (iii) provocar daños en los sistemas físicos y lógicos de Nombre de la empresa creadora del sitio web , de sus proveedores o de terceras personas, introducir o difundir en la red virus informáticos o cualesquiera otros sistemas físicos o lógicos que sean susceptibles de provocar los daños anteriormente mencionados; (iv) intentar acceder y, en su caso, utilizar las cuentas de correo electrónico de otros usuarios y modificarlo manipular sus mensajes. Nombre de la empresa creadora del sitio web se reserva el derecho de retirar todos aquellos comentarios y aportaciones que vulneren el respeto a la dignidad de la persona, que sean discriminatorios, xenófobos, racistas, pornográficos, que atenten contra la juventud o la infancia, el orden o la seguridad pública o que, a su juicio, no resultaran adecuados para su publicación. En cualquier caso, Expertosit no será responsable de las opiniones vertidas por los usuarios a través de los foros, chats, u otras herramientas de participación.</p>

                            <!-- begin of warning 4 -->
                            <h4>4. PROTECCIÓN DE DATOS</h4>
                            <p class="text-indent-20">Expertosit cumple con las directrices de la Ley Orgánica 15/1999 de 13 de diciembre de Protección de Datos de Carácter Personal, el Real Decreto 1720/2007 de 21 de diciembre por el que se aprueba el Reglamento de desarrollo de la Ley Orgánica y demás normativa vigente en cada momento, y vela por garantizar un correcto uso y tratamiento de los datos personales del usuario. Para ello, junto a cada formulario de recabo de datos de carácter personal, en los servicios que el usuario pueda solicitar a expertosit06@gmail.com, hará saber al usuario de la existencia y aceptación de las condiciones particulares del tratamiento de sus datos en cada caso, informándole de la responsabilidad del fichero creado, la dirección del responsable, la posibilidad de ejercer sus derechos de acceso, rectificación, cancelación u oposición, la finalidad del tratamiento y las comunicaciones de datos a terceros en su caso.</p>
                            <p class="text-indent-20">Asimismo, Expertosit informa que da cumplimiento a la Ley 34/2002 de 11 de julio, de Servicios de la Sociedad de la Información y el Comercio Electrónico y le solicitará su consentimiento al tratamiento de su correo electrónico con fines comerciales en cada momento.</p>

                            <!-- begin of warning 5 -->
                            <h4>5. PROPIEDAD INTELECTUAL E INDUSTRIAL</h4>
                            <p class="text-indent-20">Expertosit por sí o como cesionaria, es titular de todos los derechos de propiedad intelectual e industrial de su página web, así como de los elementos contenidos en la misma (a título enunciativo, imágenes, sonido, audio, vídeo, software o textos; marcas o logotipos, combinaciones de colores, estructura y diseño, selección de materiales usados, programas de ordenador necesarios para su funcionamiento, acceso y uso, etc.), titularidad de Expertosit o bien de sus licenciantes.</p>
                            <p class="text-indent-20">Todos los derechos reservados. En virtud de lo dispuesto en los artículos 8 y 32.1, párrafo segundo, de la Ley de Propiedad Intelectual, quedan expresamente prohibidas la reproducción, la distribución y la comunicación pública, incluida su modalidad de puesta a disposición, de la totalidad o parte de los contenidos de esta página web, con fines comerciales, en cualquier soporte y por cualquier medio técnico, sin la autorización de Expertosit. El USUARIO se compromete a respetar los derechos de Propiedad Intelectual e Industrial titularidad de Expertosit. Podrá visualizar los elementos del portal e incluso imprimirlos, copiarlos y almacenarlos en el disco duro de su ordenador o en cualquier otro soporte físico siempre y cuando sea, única y exclusivamente, para su uso personal y privado. El USUARIO deberá abstenerse de suprimir, alterar, eludir o manipular cualquier dispositivo de protección o sistema de seguridad que estuviera instalado en el las páginas de Expertosit.</p>

                            <!-- begin of warning 6 -->
                            <h4>6. EXCLUSIÓN DE GARANTÍAS Y RESPONSABILIDAD</h4>
                            <p class="text-indent-20">Expertosit no se hace responsable, en ningún caso, de los daños y perjuicios de cualquier naturaleza que pudieran ocasionar, a título enunciativo: errores u omisiones en los contenidos, falta de disponibilidad del portal o la transmisión de virus o programas maliciosos o lesivos en los contenidos, a pesar de haber adoptado todas las medidas tecnológicas necesarias para evitarlo.</p>

                            <!-- begin of warning 7 -->
                            <h4>7. MODIFICACIONES</h4>
                            <p class="text-indent-20">Expertosit se reserva el derecho de efectuar sin previo aviso las modificaciones que considere oportunas en su portal, pudiendocambiar, suprimir o añadir tanto los contenidos y servicios que se presten a través de la misma como la forma en la que éstos aparezcan presentados o localizados en su portal.</p>

                            <!-- begin of warning 8 -->
                            <h4>8. ENLACES</h4>
                            <p class="text-indent-20">En el caso de que en www.expertosit.es se dispusiesen enlaces o hipervínculos hacía otros sitios de Internet, Expertosit no ejercerá ningún tipo de control sobre dichos sitios y contenidos. En ningún caso Expertosit asumirá responsabilidad alguna por los contenidos de algún enlace perteneciente a un sitio web ajeno, ni garantizará la disponibilidad técnica, calidad, fiabilidad, exactitud, amplitud, veracidad, validez y constitucionalidad de cualquier material o información contenida en ninguno de dichos hipervínculos u otros sitios de Internet.</p>
                            <p class="text-indent-20">Igualmente la inclusión de estas conexiones externas no implicará ningún tipo de asociación, fusión o participación con las entidades <conectadas class=""></conectadas></p>

                            <!-- begin of warning 9 -->
                            <h4>9. POLÍTICA DE COOKIES</h4>
                            <p class="text-indent-20">Expertosit por su propia cuenta o la de un tercero contratado para prestación de servicios de medición, pueden utilizar cookies cuando el usuario navega por el sitio web. Las cookies son ficheros enviados al navegador por medio de un servicio web con la finalidad de registrar las actividades del usuario durante su tiempo de navegación.</p>
                            <p class="text-indent-20">Las cookies utilizadas se asocian únicamente con un usuario anónimo y su ordenador, y no proporcionan por sí mismas los datos personales del usuario.</p>
                            <p class="text-indent-20">Mediante el uso de las cookies resulta posible que el servidor donde se encuentra la web reconozca el navegador web utilizado por el usuario con la finalidad de que la navegación sea más sencilla. Se utilizan también para medir la audiencia y parámetros del tráfico, controlar el proceso y número de entradas.</p>
                            <p class="text-indent-20">El usuario tiene la posibilidad de configurar su navegador para ser avisado de la recepción de cookies y para impedir su instalación en su equipo. Por favor consulte las instrucciones y manuales de su navegador para ampliar esta información.</p>
                            <p class="text-indent-20">Para utilizar el sitio web no es necesario que el usuario permita la instalación de las cookies enviadas al sitio web, o el tercero que actúe en su nombre, sin perjuicio de que sea necesario que el usuario inicie una sesión tal en cada uno de los servicios cuya prestación requiera el previo registro.</p>
                            <p class="text-indent-20">En todo caso las cookies tienen un carácter temporal con la única finalidad de hacer más eficaz su transmisión ulterior. En ningún caso se utilizará cookies para recoger información de carácter personal.</p>

                            <!-- begin of warning 10 -->
                            <h4>10. DERECHO DE EXCLUSIÓN</h4>
                            <p class="text-indent-20">Expertosit se reserva el derecho a denegar o retirar el acceso a portal y/o los servicios ofrecidos sin necesidad de preaviso, a instancia propia o de un tercero, a aquellos usuarios que incumplan las presentes Condiciones Generales de Uso.</p>

                            <!-- begin of warning 11 -->
                            <h4>11. GENERALIDADES</h4>
                            <p class="text-indent-20">Expertosit perseguirá el incumplimiento de las presentes condiciones así como cualquier utilización indebida de su portal ejerciendo todas las acciones civiles y penales que le puedan corresponder en derecho.</p>

                            <!-- begin of warning 12 -->
                            <h4>12. MODIFICACIÓN DE LAS PRESENTES CONDICIONES Y DURACIÓN</h4>
                            <p class="text-indent-20">Expertosit podrá modificar en cualquier momento las condiciones aquí determinadas, siendo debidamente publicadas como aquí aparecen.</p>
                            <p class="text-indent-20">La vigencia de las citadas condiciones irá en función de su exposición y estarán vigentes hasta debidamente publicadas. que sean modificadas por otras.</p>

                            <!-- begin of warning 13 -->
                            <h4>13. LEGISLACIÓN APLICABLE Y JURISDICCIÓN</h4>
                            <p class="text-indent-20">La relación entre Expertosit y el USUARIO se regirá por la normativa española vigente y cualquier controversia se someterá a los Juzgados y tribunales de la ciudad de Madrid.</p>
                        </div>
                        <div class="tab-content clearfix" id="politicas-privacidad">
                            <!-- begin of warning 1 -->
                            <h4>1. POLÍTICAS DE PRIVACIDAD</h4>
                            <p class="text-indent-20">Expertosit informa a los usuarios del sitio web sobre su política respecto del tratamiento y protección de los datos de carácter personal de los usuarios y clientes que puedan ser recabados por la navegación o contratación de servicios a través de su sitio web.</p>
                            <p class="text-indent-20"> este sentido, Expertosit garantiza el cumplimiento de la normativa vigente en materia de protección de datos personales, reflejada en la Ley Orgánica 15/1999 de 13 de diciembre, de Protección de Datos de Carácter Personal y en el Real Decreto 1720/2007, de 21 diciembre, por el que se aprueba el Reglamento de Desarrollo de la LOPD.</p>
                            <p class="text-indent-20">El uso de esta web implica la aceptación de esta política de privacidad.</p>

                            <!-- begin of warning 2 -->
                            <h4>2. RECOGIDA, FINALIDAD Y TRATAMIENTO DE DATOS</h4>
                            <p class="text-indent-20">Expertosit tiene el deber de informar a los usuarios de su sitio web acerca de la recogida de datos de carácter personal que pueden llevarse a cabo, bien sea mediante el envío de correo electrónico o al cumplimentar los formularios incluidos en el sitio web. En este sentido, Expertosit será considerada como responsable de los datos recabados mediante los medios anteriormente descritos.</p>
                            <p class="text-indent-20">A su vez Expertosit informa a los usuarios de que la finalidad del tratamiento de los datos recabados contempla: La atención de solicitudes realizadas por los usuarios, la inclusión en la agenda de contactos, la prestación de servicios, la gestión de la relación comercial.</p>
                            <p class="text-indent-20">Las operaciones, gestiones y procedimientos técnicos que se realicen de forma automatizada o no automatizada y que posibiliten la recogida, el almacenamiento, la modificación, la transferencia y otras acciones sobre datos de carácter personal, tienen la consideración de tratamiento de datos personales.</p>
                            <p class="text-indent-20">Todos los datos personales, que sean recogidos a través del sitio web de Expertosit, y por tanto tenga la consideración de tratamiento de datos de carácter personal, serán incorporados en los ficheros declarados ante la Agencia Española de Protección de Datos por Expertosit.</p>

                            <!-- begin of warning 3 -->
                            <h4>3. COMUNICACIÓN DE INFORMACIÓN A TERCEROS</h4>
                            <p class="text-indent-20">Expertosit informa a los usuarios de que sus datos personales no serán cedidos a terceras organizaciones, con la salvedad de que dicha cesión de datos este amparada en una obligación legal o cuando la prestación de un servicio implique la necesidad de una relación contractual con un encargado de tratamiento. En este último caso, solo se llevará a cabo la cesión de datos al tercero cuando Expertosit disponga del consentimiento expreso del usuario.</p>

                            <!-- begin of warning 4 -->
                            <h4>4. DERECHOS DE LOS USUARIOS</h4>
                            <p class="text-indent-20">La Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal concede a los interesados la posibilidad de ejercer una serie de derechos relacionados con el tratamiento de sus datos personales.</p>
                            <p class="text-indent-20">En tanto en cuanto los datos del usuario son objeto de tratamiento por parte de Expertosit. Los usuarios podrán ejercer los derechos de acceso, rectificación, cancelación y oposición de acuerdo con lo previsto en la normativa legal vigente en materia de protección de datos personales.</p>
                            <p class="text-indent-20">Para hacer uso del ejercicio de estos derechos, el usuario deberá dirigirse mediante comunicación escrita, aportando documentación que acredite su identidad (DNI o pasaporte), a la siguiente dirección: Expertosit, calle Consenso nº 30, Código postal: 28041, Ciudad: Madrid, Provincia: Comunidad de Madrid o la dirección que sea sustituida en el Registro General de Protección de Datos. Dicha comunicación deberá reflejar la siguiente información: Nombre y apellidos del usuario, la petición de solicitud, el domicilio y los datos acreditativos.</p>
                            <p class="text-indent-20">El ejercicio de derechos deberá ser realizado por el propio usuario. No obstante, podrán ser ejecutados por una persona autorizada como representante legal del autorizado. En tal caso, se deberá aportar la documentación que acredite esta representación del interesado.</p>
                        </div>
                    </div>
                </div><!-- Tab Content end -->
            </div>
        </div>
    </section><!-- #content end -->
{% endblock %}
