{% extends 'frontend.html.twig' %}

{% block title  'Portafolio' %}

{% block content %}
    <!-- Page Title
    ============================================= -->
    <section id="page-title">
        <div class="container clearfix">
            <h1>Portafolio</h1>
            <span>Imágenes de la tienda y el taller.</span>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('index') }}">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Portafolio</li>
            </ol>
        </div>
    </section><!-- #page-title end -->

    <!-- Content
    ============================================= -->
    <section id="content">
        <div class="content-wrap bottommargin-sm">
            <div class="container clearfix">
                <!-- Portfolio Filter
                ============================================= -->
                <ul id="portfolio-filter" class="portfolio-filter style-4 clearfix" data-container="#portfolio">
                    <li class="activeFilter"><a href="#" data-filter="*">Mostrar todo</a></li>
                    <li><a href="#" data-filter=".pf-taller">Taller</a></li>
                    <li><a href="#" data-filter=".pf-clase">Clase</a></li>
                    <li><a href="#" data-filter=".pf-tienda">Tienda</a></li>
                    <li><a href="#" data-filter=".pf-herramientas">Herramientas</a></li>
                    <li><a href="#" data-filter=".pf-soldadura">Soldadura</a></li>
                    <li><a href="#" data-filter=".pf-youtube">Youtube</a></li>
                </ul><!-- #portfolio-filter end -->

                <div class="clear"></div>

                <!-- Portfolio Items
                ============================================= -->
                <div id="portfolio" class="portfolio grid-container clearfix">
                    {% for video in videos %}
                        {% set class = 'portfolio-item pf-youtube pf-clase' %}
                        {% set tagsStr = 'Youtube' %}
                        {% for tag in video.tags %}
                            {% if tag.name == 'Herramienta' %}
                                {% set class = [class, 'pf-herramientas']|join(' ')  %}
                                {% set tagsStr = [tagsStr, ', Herramienta']|join  %}
                            {% endif %}

                            {% if tag.name == 'Soldar' %}
                                {% set class = [class, 'pf-soldadura']|join(' ')  %}
                                {% set tagsStr = [tagsStr, ', Soldar']|join  %}
                            {% endif %}
                        {% endfor %}

                        <!-- Portfolio Item -->
                        <article class="{{ class }}">
                            <div class="portfolio-image">
                                <a href="#">
                                    <img src="{{ asset('/images/pages/portfolio/youtube/' ~ video.embed ~ '.jpg') }}" alt="{{ video.title }}">
                                </a>
                                <div class="portfolio-overlay">
                                    <div class="portfolio-desc">
                                        <h3>{{ video.title }}</h3>
                                        <span>{{ tagsStr }}</span>
                                    </div>
                                    <a href="http://www.youtube.com/watch?v={{ video.embed }}" class="center-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
                                </div>
                            </div>
                        </article><!-- end Portfolio Item -->
                    {% endfor %}

                    {% for images in imagesArray %}
                        {% set class = 'portfolio-item' %}
                        {% set tagsStr = '' %}
                        {% for tag in images[0].tags %}
                            {% if tag.name == 'Herramienta' %}
                                {% set class = [class, 'pf-herramientas']|join(' ')  %}
                                {% if tagsStr != '' %}
                                    {% set tagsStr = [tagsStr, ', Herramienta']|join  %}
                                {% else %}
                                    {% set tagsStr = 'Herramienta' %}
                                {% endif %}
                            {% endif %}

                            {% if tag.name == 'Clase' %}
                                {% set class = [class, 'pf-clase']|join(' ')  %}
                                {% if tagsStr != '' %}
                                    {% set tagsStr = [tagsStr, ', Clase']|join  %}
                                {% else %}
                                    {% set tagsStr = 'Clase' %}
                                {% endif %}
                            {% endif %}

                            {% if tag.name == 'Taller' %}
                                {% set class = [class, 'pf-taller']|join(' ')  %}
                                {% if tagsStr != '' %}
                                    {% set tagsStr = [tagsStr, ', Taller']|join  %}
                                {% else %}
                                    {% set tagsStr = 'Taller' %}
                                {% endif %}
                            {% endif %}

                            {% if tag.name == 'Tienda' %}
                                {% set class = [class, 'pf-tienda']|join(' ')  %}
                                {% if tagsStr != '' %}
                                    {% set tagsStr = [tagsStr, ', Tienda']|join  %}
                                {% else %}
                                    {% set tagsStr = 'Tienda' %}
                                {% endif %}
                            {% endif %}

                            {% if tag.name == 'Soldar' %}
                                {% set class = [class, 'pf-soldadura']|join(' ')  %}
                                {% if tagsStr != '' %}
                                    {% set tagsStr = [tagsStr, ', Soldar']|join  %}
                                {% else %}
                                    {% set tagsStr = 'Soldar' %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <!-- Portfolio Item -->
                        <article class="{{ class }}">
                            <div class="portfolio-image">
                                {% if images|length == 1 %}
                                    <a href="#">
                                        <img src="{{ asset(portfolio_images ~ images[0].thumb) }}" alt="{{ images[0].alt }}">
                                    </a>
                                    <div class="portfolio-overlay">
                                        <div class="portfolio-desc">
                                            <h3>{{ images[0].title }}</h3>
                                            <span><a href="#">{{ tagsStr }}</a></span>
                                        </div>
                                        <a href="{{ asset(portfolio_images ~ 'full/' ~ images[0].url) }}" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                                    </div>
                                {% else %}
                                    <div class="fslider" data-arrows="false" data-speed="400" data-pause="4000">
                                        <div class="flexslider">
                                            <div class="slider-wrap">
                                                {% for image in images %}
                                                    <div class="slide"><a href="#"><img src="{{ asset(portfolio_images ~ image.thumb) }}" alt="{{ image.alt }}"></a></div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="portfolio-overlay" data-lightbox="gallery">
                                        <div class="portfolio-desc">
                                            <h3>{{ images[0].title }}</h3>
                                            <span>{{ tagsStr }}</span>
                                        </div>
                                        {% for image in images %}
                                            {% if loop.first %}
                                                <a href="{{ asset(portfolio_images ~ 'full/' ~ image.url) }}" class="center-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
                                            {% else %}
                                                <a href="{{ asset(portfolio_images ~ 'full/' ~ image.url) }}" class="hidden" data-lightbox="gallery-item"></a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </article> <!-- End Portfolio Item -->
                    {% endfor %}
                </div><!-- #portfolio end -->
            </div>
        </div>
    </section><!-- #content end -->
{% endblock %}
