{% extends 'frontend.html.twig' %}

{% block title  'Alta de clientes y alumnos en ExpertosIT, la mejor academia de Madrid.' %}
{% block description  'Dese de alta en la academia ExpertosIT y disfrute de ofertas exclusivas en nuestros cursos de reparación, desarrollo web e informática.' %}
{% block keywords  'alta de usuarios, alta en academia madrid, ofertas cursos reparacion moviles, oferta cursos desarrollo web, oferta cursos informatica' %}
{% block ogtitle  'Alta de usuarios en ExpertosIT, la mejor academia de Madrid.' %}
{% block ogdescription  'Dese de alta en la academia ExpertosIT y disfrute de ofertas exclusivas en nuestros cursos de reparación, desarrollo web e informática.' %}

{% block content %}
    <!-- Page Title
    ============================================= -->
    <section id="page-title" class="page-title-dark">
        <div class="container clearfix">
                <h1>Alta de nuevos clientes</h1>
                <span>Dese de alta como nuevo cliente y disfrute de nuestras promociones y ofertas exclusivas.</span>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('index') }}">Inicio</a></li>
                    <li class="breadcrumb-item active">Alta de nuevos clientes</li>
                </ol>
        </div>
    </section><!-- #page-title end -->

    <!-- Content
    ============================================= -->
    <section id="content">
        <section class="content-wrap">
            <section class="container clearfix">
                <!-- Postcontent
                ============================================= -->
                <div class="postcontent nobottommargin">
                    <h3>Dese de alta con el siguiente formulario.</h3>

                    {% for message in app.session.flashBag().get('success') %}
                        <div class="style-msg successmsg">
                            <div class="sb-msg"><i class="icon-thumbs-up"></i>El correo electrónico se ha enviado correctamente.</div>
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        </div>
                    {% endfor %}

                    {% for message in app.session.flashBag().get('error') %}
                        <div class="style-msg errormsg">
                            <div class="sb-msg"><i class="icon-remove"></i>No se ha podido enviar el correo electrónico, inténtelo más tarde.</div>
                        </div>
                    {% endfor %}

                    <div class="contact-widget">
                        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                            {% if form_errors(form.name) != '' or form_errors(form.email) or form_errors(form.phone) != '' %}
                                <div class="col_full">
                                    <div class="style-msg2 errormsg">
                                        <div class="msgtitle">Se han producido los siguientes errores:</div>
                                        <div class="sb-msg">
                                                {% if form_errors(form.name) != '' %}
                                                    {{ form_errors(form.name) }}
                                                {% endif %}
                                                {% if form_errors(form.phone) != '' %}
                                                    {{ form_errors(form.phone) }}
                                                {% endif %}
                                                {% if form_errors(form.email) != '' %}
                                                    {{ form_errors(form.email) }}
                                                {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="col_half">
                                {{ form_label(form.name) }}
                                {{ form_widget(form.name, { 'attr': { 'class': 'sm-form-control' } }) }}
                            </div>

                            <div class="col_half col_last">
                                {{ form_label(form.phone) }}
                                {{ form_widget(form.phone, { 'attr': { 'class': 'sm-form-control' } }) }}
                            </div>

                            <div class="col_full">
                                {{ form_label(form.email) }}
                                {{ form_widget(form.email, { 'attr': { 'class': 'sm-form-control' } }) }}
                            </div>

                            {#<div class="col_full">#}
                                {#<div class="g-recaptcha" data-sitekey="6LeH8x8UAAAAAKZtdZ6MD2lGCX4KfcYXo5j8R1Z2" data-callback="enableBtn"></div>#}
                            {#</div>#}

                            <div class="col_full">
                                {{ form_row(form.submit, { 'attr': { 'class': 'button button-3d button-color-custom nomargin' } }) }}
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div><!-- postcontent end -->

                <!-- Sidebar
                ============================================= -->
                <section class="sidebar ohidden col_last nobottommargin color-turquoise col-custom">
                    <h4>¿Por qué darse de alta?</h4>
                    <p>Darse de alta implica acceso exclusivo a ofertas y promociones, además de descuentos en futuras reparaciones.</p>
                    <i class="icon-info bgicon"></i>
                </section><!-- .sidebar end -->
            </section>
        </section>
    </section><!-- #content end -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(window).load( function(){
            SEMICOLON.widget.notifications( jQuery('#custom-notification-message') );
        });

        function enableBtn() {
            document.getElementById("contact_mail_submit").disabled = false;
        }
    </script>
{% endblock %}
