{% extends 'frontend.html.twig' %}

{% block title 'Reparación' ~ receipt.code %}
{% block description 'Datos de una reparación en progreso en ExpertosIT, SAT y academia en Madrid.' %}
{% block keywords 'reparacion, reparacion en curso, consulta de reparacion, sat madrid' %}
{% block ogtitle 'Reparación' ~ receipt.code %}
{% block ogdescription 'Datos de una reparación en progreso en ExpertosIT, SAT y academia en Madrid.' %}


{% block content %}
    <!-- Page Title
    ============================================= -->
    <section id="page-title">
        <div class="container clearfix">
            <h1>Reparación nº: {{ receipt.code }}</h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('index') }}">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{{ path('repair_show', { 'code': receipt.code }) }}">reparación</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ receipt.code }}</li>
            </ol>
        </div>
    </section><!-- #page-title end -->

    <!-- Content
    ============================================= -->
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div class="col_two_third nobottommargin">
                    <div class="well well-lg nobottommargin">
                        <h3>Datos del recibo:</h3>
                        <!-- Table -->
                        <div class="col_full">
                            <table class="table table-striped">
                                <thead>
                                    <th >Code:</th>
                                    <th>Estado:</th>
                                    <th>Fecha inicio:</th>
                                    <th>Fecha de recogida:</th>
                                </thead>
                                <tbody>
                                    <td>{{ receipt.code }}</td>
                                    <td>{{ receipt.state }}</td>
                                    <td>{{ receipt.createdAt|date("m/d/Y")  }}</td>
                                    <td>{{ receipt.deliveryDate|date("m/d/Y")  }}</td>
                                </tbody>
                            </table>
                        </div>
                        <!-- Table End -->

                        <div class="divider notopmargin"><i class="icon-circle"></i></div>

                        <h3>Datos del cliente</h3>
                        <!-- Table -->
                        <div class="col_full">
                            <table class="table table-striped">
                                <thead>
                                    <td>Cliente</td>
                                    <td>Empleado</td>
                                </thead>
                                <tbody>
                                    <td>{{ receipt.clientName }}</td>
                                    <td>{{ receipt.employee.name }}</td>
                                </tbody>
                            </table>
                        </div>
                        <!-- Table End -->

                        <div class="divider notopmargin"><i class="icon-circle"></i></div>

                        <h3>Lista de artículos del recibo:</h3>

                        <!-- Table -->
                        <div class="col_full">
                            <table class="table table-striped">
                                <thead>
                                    <td>Articulo</td>
                                    <td>Descripción</td>
                                    <td>Precio</td>
                                </thead>
                                <tbody>
                                {% for item in receipt.items %}
                                    <tr{{ (loop.index % 2 != 0) ? ' class="odd"' : '' }}>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.description|raw }}</td>
                                        <td>{{ item.cost|number_format(2, ',', '.') }} €</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- Table End -->
                    </div>
                </div>

                <div class="col_one_third col_last nobottommargin col-padding color-soft-grey ohidden">
                    <h4>Ayuda:</h4>

                    <p>A la izquierda se muestra los datos más relevantes del dispositivo a reparar.</p>
                    <p>A continuación mostramos la lista de estados disponibles:</p>

                    <ul class="nobullet">
                        <li><span class="badge badge-danger">Aprobación pendiente</span></li>
                        <li class="bottommargin-sm">Aun no ha sido aprobado para su reparación.</li>
                        <li><span class="badge badge-warning">En progreso</span></li>
                        <li class="bottommargin-sm">La reparación está en marcha.</li>
                        <li><span class="badge badge-primary">Para entregar</span></li>
                        <li class="bottommargin-sm">Está reparado y listo para la entrega.</li>
                        <li><span class="badge badge-success">Entregado</span></li>
                        <li class="bottommargin-sm">Ha sido reparado y entregado a su dueño.</li>
                        <li><span class="badge badge-dark">Cancelado</span></li>
                        <li class="bottommargin-sm">La reparación ha sido cancelada.</li>
                    </ul>

                    <p>Si tiene alguna duda puede ponerse en contacto con ExpertosIT a través de los siguientes datos:</p>

                    <abbr title="Número de teléfono"><strong>Teléfono:</strong></abbr> 91 254 60 50.<br>
                    <abbr title="Número de móvil, conectado a Whatsapp"><strong>Móvil/Whatsapp:</strong></abbr> 694 416 825.<br>
                    <abbr title="Correo electrónico"><strong>Email:</strong></abbr> info@expertosit.es.

                    <i class="icon-info bgicon"></i>
                </div>
            </div>
        </div>
    </section><!-- #content end -->
{% endblock %}