{% extends 'frontend.html.twig' %}

{% block title 'Error 404: Página no encontrada' %}

{% block content %}
    <!-- Page Title
    ============================================= -->
    <section id="page-title">
        <div class="container clearfix">
            <h1>Error 404</h1>
            <span>Página no encontrada.</span>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('index') }}">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">404</li>
            </ol>
        </div>
    </section><!-- #page-title end -->

    <!-- Content
    ============================================= -->
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div class="col_half nobottommargin">
                    <div class="center">
                        <img src="{{ asset('/images/pages/error/' ~ random(['android','ios']) ~ '-fail-' ~ random(2) ~ '.jpg') }}" alt="phone error" class="center">
                    </div>
                </div>

                <div class="col_half nobottommargin col_last">
                    <div class="heading-block nobottomborder">
                        <h4>Ooopps, A Network Error Occurred!!!</h4>
                        <span>Página no disponible, inténtelo más tarde, si el problema persiste póngase en contacto con nosotros a través del siguiente email: <a href="mailto:info@expertosit.es">info@expertosit.es</a></span>
                    </div>

                    <div class="col_one_third widget_links nobottommargin">
                        <ul>
                            <li><a href="{{ path('index') }}">Inicio</a></li>
                            <li><a href="{{ path('mobile-course', {'slug': 'senior'}) }}">Curso Senior</a></li>
                            <li><a href="{{ path('mobile-course', {'slug': 'express'}) }}">Curso Express</a></li>
                        </ul>
                    </div>

                    <div class="col_one_third widget_links nobottommargin">
                        <ul>
                            <li><a href="{{ path('mobile-course', {'slug': 'microsoldadura'}) }}">Curso Soldadura</a></li>
                            <li><a href="{{ path('computer-course') }}">Curso Informática</a></li>
                            <li><a href="{{ path('symfony-course') }}">Curso Desarrollo Web</a></li>
                        </ul>
                    </div>

                    <div class="col_one_third widget_links nobottommargin col_last">
                        <ul>
                            <li><a href="{{ path('portafolio') }}">Portafolio</a></li>
                            <li><a href="https://www.expertosit.es/">Servicio técnico</a></li>
                            <li><a href="{{ path('contact') }}">Contacto</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- #content end -->
{% endblock %}
